{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

{% if validlink %}
<div class="medium_padding row large_padding_bot">
	<div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
	<h1 class="feature_title text-center bold">Password Reset</h1>
	<form method="post" action=".">
	  {% csrf_token %} 
	  {{ form|crispy }}

	  <input type="submit" value="{% trans 'Submit' %}" />
	</form>

	{% else %}

	<p class="text-center">{% trans "Password reset failed" %}</p>
	</div>
</div>
{% endif %}

{% endblock %}
