{% extends "base.html" %}
{% load staticfiles %}

{% block about %}
	<div id="content_about" class="content_wrapper">
    <div class="text-center">
      <h2 class="feature_title">About Us</h2>
    </div>
    <div class="row content_title_padding">
      <div class="col-md-4 col-md-offset-1 col-xs-10 col-xs-offset-1">
        <div class="row">
          <div class="text-center">
            <img src="{% static 'img/michael.png' %}" width="40%">
            <br><br>
            <h4>Michael Snower</h4>
          </div>
        </div>
        <p>Michael is currently studying business at Brown University. He has trouble find a heatshot a few months ago and decided to start a service that make it easier for people to get them. He plays guitar and teaches yoga at his spare time.</p>
      </div>
      <div class="col-md-4 col-md-offset-2 col-xs-10 col-xs-offset-1">
        <div class="row">
          <div class="text-center">
            <img src="{% static 'img/ben.png' %} " width="40%">
            <br>
            <br>
            <h4>Benjamin Bao</h4>
          </div>
        </div>
        <p>Created a website mockup and raised a $50k seed fund offer; previous coding experience at Startups, strong coding experience, graphic designing experience at RISD, and leadership in student organizations, and a hungry learner</p>
      </div>
      <!-- <div class="clearfix"></div>  -->
    </div>
  </div>  
{% endblock %}