{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="cleartype" content="on">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title_text }}</title>
    <link rel="alternate" href="https://www.brytephoto.com" hreflang="en-us" />
    <link rel="shortcut icon" type="image/png" href="{% static 'logo/favicon.png' %}"/>

		<!--<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">-->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- <link rel="stylesheet" href="{% static 'css/normalize.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>

	  <!-- facebook like api -->
	  <div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

	  <!-- scroll to top -->
	  <div ><a href="" class="scrollToTop" style="padding: 30px; background: url({% static 'img/up_arrow.png' %}); background-size: cover;"></a></div>


    	{# navbar #}
	    {% include "navbar.html" %}

	    {# offset to fill the space of navbar #}
	    <div class="offset">
	    </div>

{# registration #}
			{% load i18n %}

			{% block content %}
			{% endblock %}


{# index #}
	    {# jumbotron #}
	    {% block jumbotron %}
	    {% endblock %}

			{% block press %}
			{% endblock %}

	    {# features #}
	    {% block features %}	
	    {% endblock %}


	    {# photographers #} 
	    {% block photographers %}
	    {% endblock %}
	    
{# end index #}




{# photographer #}
	    {# photographer list #}
	    {% block photographer_list %}
			{% endblock %}

			
			{% block photographer_detail %}
			{% endblock %}
{# end photographer #}


{# blog #}
	    {% block blog_list %}
			{% endblock %}

			
			{% block blog_detail %}
			{% endblock %}


{# reserve #}
			{% block reserve %}
			{% endblock %}


{# reserve success #}
			{% block reserve_success %}	
			{% endblock %}


{# about #}
			{% block about %}
			{% endblock %}

{# pricing #}
			{% block pricing %}
			{% endblock %}

{# profile #}
			{% block profile %}
			{% endblock %}

{# checkout #}
			{% block checkout %}
			{% endblock %}

	    {# footer #}
	    
	    {% include "footer.html" %}




    <script src="{% static 'js/jquery-2.1.4.min.js' %} "></script>
    <script src="https://js.stripe.com/v2/"></script>
    <!--<script src="{% static 'js/bootstrap.js' %} "></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>-->
    <!--<script src="{% static 'js/masonry.js' %}"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.0.0/imagesloaded.min.js"></script>
  	<!--<script src="{% static 'js/imagesloaded.js' %}"></script>-->
  	<script src="{% static 'js/main.js' %} "></script>
  	{% block script %}
    {% endblock %}
  	<script type="text/javascript">
	    $(document).ready(function(){
        {% block jquery %}
        {% endblock %}
    	});
  	</script>
  </body>
</html>