{% extends "base.html" %}
{% load staticfiles %}
{% block description %}
  <meta name="description" content="Join Bryte Photo as a local college photographer or videographer! Bryte helps you build your portfolio, make extra bucks and connect to local businesses.">
{% endblock %}
{% block content %}
	<div class="jumbotron medium_padding medium_padding_bot" style="background: url({% static 'img/jumbo3_dark.png' %}); background-size: cover; text-align: center;">
		<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
		<h2 class="text-center bold feature_title	 white">Join As a Creative!</h2>
		</div>
		</div>
	</div>

	<div class="background_grey">
	<div class="container medium_padding">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">



				<div class="row medium_padding">
					<div class="col-sm-6 round_border special_padding">
							<h2 class="text-center">Build Your Portfolio</h2>
							<div class="col-xs-10 col-xs-offset-1 small_padding">
							<p class="light l_font">Get experience in a professional setting. You will have the opportunity to work with local businesses and more. This is an invaluable opportunity that will help launch your career.</p>
							</div>
					</div>
					<div class="col-sm-6">
						<img src="{% static 'img/becomeOne.png' %}" class="img-responsive">
					</div>
				</div>	


				<div class="row medium_padding">
					<div class="col-sm-6">
						<img src="{% static 'img/becomeTwo.png' %}" class="img-responsive">
					</div>
					<div class="col-sm-6 round_border special_padding">
						<h2 class="text-center">Make Money</h2>
						<div class="col-xs-10 col-xs-offset-1 small_padding">
						<p class="light l_font">At Bryte, you will be exposed to a wide range of job opportunities. Our website provides you with free advertising, and a reliable review system so that customers can get to know you and your work.
						</div>
					</div>
				</div>	


				<div class="row large_padding">
					<div class="col-sm-6 round_border special_padding">
							<h2 class="text-center">It’s free!</h2>
							<div class="col-xs-10 col-xs-offset-1 small_padding">
							<p class="light l_font">You can be a member of Bryte at no cost to you. We charge only for completed transactions and take a 20% service fee.</p>
							</div>
					</div>
					<div class="col-sm-6">
						<img src="{% static 'img/becomeThree.png' %}" class="img-responsive">
					</div>
				</div>	



			</div>	
		</div>
	</div>



		<div class="row small_padding large_padding_bot">
		<div class="col-xs-8 col-xs-offset-2">
		<div class="background_light_blue" id='become_not'>
		<p class="text-center all_padding_medium border_blue_dashed big_font">Email us at <a href="mailto:hello@brytephoto.com" class="blue">hello@brytephoto.com</a> with your name, and school and we will send you an email as soon as we can!<br>Have any questions? See our <a href="{% url 'faqs' %}" class="blue">FAQs</a></p>
		</div>
		</div>
	</div>

</div>

{% endblock %}