{% extends "base.html" %}
{% load staticfiles %}
{% block description %}
  <meta name="description" content="Apply to be a Bryte student photographer!">
{% endblock %}
{% block content %}

<div class="">
<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="large_padding"></div>
			<h1 class="bold landing_title_sec text-center">Requirements</h1>
			<div class="medium_padding"></div>


			<div class="page-header">
				<h2 class="bold landing_text_main">Qualification</h2>
			</div>
			<ol class="info_list">
				<li>Basic Knowledge of DSLR and its basic settings (Focus, Aperture, Shutter Speed, ISO, white balance)</li>
				<li>Have a relatively flexible schedule</li>
				<li>Responsive, responsible, friendly and confident</li>
				<li>Willing to learn</li>
			</ol>


			<div class="medium_padding"></div>

			<div class="page-header">
				<h2 class="bold landing_text_main">Summary of Key Responsibilities</h2>
			</div>
			<ol class="info_list">
				<li>Go through Bryte Training program</li>
				<li>Communicate with your photographer trainer to confirm on the photoshoot dates weeks before the actual photoshoot</li>
				<li>Show up at your Bryte photoshoot on given dates at given locations, set up the equipment and take amazing headshot photos (6 hours total commitment)</li>
				<li>Upload the headshot photos to Dropbox after the photoshoot</li>
				<li>Keep bryte photo equipment in good condition</li>
			</ol>

			

			<div class="medium_padding"></div>


			<div class="page-header">
				<h2 class="bold landing_text_main">Bonus</h2>
			</div>
			<ol class="info_list">
				<li>Willing to do 4+ photoshoot per semester</li>
				<li>Has a flexible schedule and willing to accommodate photoshoot times</li>
				<li>Willing to commute to nearby schools (We cover your gas/uber)</li>
				<li>Quickly responsive to photographer trainer</li>
			</ol>



			<div class="large_padding"></div>
			<div class="text-center">
				<a href="{% url 'photographer_app_form' %}"><button class="main_green_button_mid">Apply Now</button></a>
			</div>
			<div class="large_padding"></div>
		</div>
	</div>




</div>
</div>

{% endblock %}