{% extends "base.html" %}
{% load staticfiles %}
{% block description %}
  <meta name="description" content="Apply to be a Bryte student photographer!">
{% endblock %}
{% block content %}

<div class="">
<div class="container">
	<div class="row">
		<div class="col-sm-10">
			<div class="large_padding"></div>
			<h1 class="bold landing_title_sec">Apply to become a Bryte Student Photographer!</h1>
			<div class="medium_padding"></div>

			<div class="page-header">
				<h2 class="bold landing_text_main">Basic Qualification</h2>
			</div>
			<ol class="info_list">
				<li>Expect around 30 hours of commitment per semester (24 hours on photoshoot, 4 hours in training, 2 hours in followup)</li>
				<li>Willing to commute to other schools in nearby area, gas/uber fee will be covered</li>
				
				<li>Will be able to commit 5 hours straight on given dates</li>
				<li>Has a relatively flexible schedule and will be available during school major career fairs</li>
				<li>Be very responsive to trainier/shoot organizer</li>
				<li>Be responsible, friendly and confident</li>
				<li>Ability to understand the gist of taking good headshot photos from training and practice</li>
				<li>Ability to learn from previous experiences</li>
			</ol>

			<div class="medium_padding"></div>

			<div class="page-header">
				<h2 class="bold landing_text_main">Summary of Key Responsibilities</h2>
			</div>
			<ol class="info_list">
				<li>Goes through Bryte Training program (2 in person training, online quiz, post training practices, and post-shoot followup with your assigned trainer</li>
				<li>Communicates with shoot organizer to confirm on the shoot dates weeks before the actual photoshoot</li>
				<li>Shows up at Bryte photoshoot on given dates at given locations, set up the equipment and take amazing headshot photos for students</li>
				<li>Upload the headshot photos to Dropbox after the shoot</li>
				<li>Be punctual, responsible and friendly</li>
			</ol>

			<div class="medium_padding"></div>

			<div class="page-header">
				<h2 class="bold landing_text_main">Required Knowledge</h2>
			</div>
			<ol class="info_list">
				<li>Basic Knowledge of DSLR and its basic settings (Focus, Aperture, Shutter Speed, ISO, white balance..)</li>
			</ol>



			<div class="large_padding"></div>
			<a href="{% url 'photographer_app_form' %}"><button class="main_green_button_mid">Apply Now</button></a>
			<div class="large_padding"></div>
		</div>
	</div>




</div>
</div>

{% endblock %}