{% extends "base.html" %}
{% load staticfiles %}

{% block description %}
  <meta name="description" content="Bryte Photo Headshot tips">
{% endblock %}

{% block keywords %}
  <meta name='keywords' content="headshot, tips, photo, photography, on location, quality, affordable, profile, Bryte">
{% endblock %}

{% block content %}
	<div class="droid_serif">
		<div class="medium_padding"></div>
		<h1 class="text-center bold feature_title">We're going to make you look really good!</h1>

		<div class="medium_padding"></div>

		<div class="container">
			<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<h2 class="bold">What should I wear?</h2>
				<div class="medium_padding"></div>
				<ul>
					<li>There are lots of different ways to look professional in your photos. We say: wear whatever you're most comfortable in! You'll have a surefire look in your photo when you're wearing your favorite blazer. Look at some of these great outfits we've seen at past photoshoots.
					<div class="medium_padding"></div>
					<div class="row">
						<div class="col-sm-6 col-xs-12">
							<img src="{% static 'img/tips/p1.jpg' %}" class="img-responsive" alt="Bryte Photo Headshot">
						</div>
						<div class="col-sm-6 col-xs-12">
							<img src="{% static 'img/tips/p11.jpg' %}" class="img-responsive" alt="Bryte Photo Headshot">
						</div>
					</div>
					<div class="medium_padding"></div>
					<div class="row">
						<div class="col-sm-6 col-xs-12">
							<img src="{% static 'img/tips/p10.jpg' %}" class="img-responsive" alt="Bryte Photo Headshot">
						</div>
						<div class="col-sm-6 col-xs-12">
							<img src="{% static 'img/tips/p2.jpg' %}" class="img-responsive" alt="Bryte Photo Headshot">
						</div>
					</div>
					<div class="medium_padding"></div>
					<div class="row">
						<div class="col-sm-6 col-xs-6">
							<img src="{% static 'img/tips/p5.jpg' %}" class="img-responsive" alt="Bryte Photo Headshot">
						</div>
						<div class="col-sm-3 col-xs-6">
							<img src="{% static 'img/tips/p3.jpg' %}" class="img-responsive" alt="Bryte Photo Headshot">
						</div>
						<div class="col-sm-3 col-xs-6">
							<img src="{% static 'img/tips/p4.jpg' %}" class="img-responsive" alt="Bryte Photo Headshot">
						</div>
					</div>
					</li>

					<div class="large_padding"></div>
					<h2 class="bold">Before you take your photos:</h2>
					<div class="medium_padding"></div>
					<li>Arrive at least 5 min before your timeslot begins so you can have time to brush up in the waiting room with the mirror and other tools we provide. Here are some things to look for when brushing yourself up:</li>
					<div class="medium_padding"></div>
					<li>
					 <h4 class="bold large_font">ladies</h4>
					 <ul>
					 	<li>Resting your jacket, blouse, or sweater evenly across your shoulders
						<!--
						<div class="row">
							<div class="col-sm-4 col-xs-12">
							<div class="thumbnail">
								<img src="{% static 'img/headshots/watermark3.jpg' %}" class="img-responsive" alt="Bryte Photo Headshot">
								<div class="caption red text-center bold">professional look</div>
							</div>
							</div>
							<div class="col-sm-4 col-xs-12">
							<div class="thumbnail">
								<img src="{% static 'img/headshots/watermark4.jpg' %}" class="img-responsive" alt="Bryte Photo Headshot">
								<div class="caption red text-center bold">professional look</div>
							</div>
							</div>
							<div class="col-sm-4 col-xs-12">
							<div class="thumbnail">
								<img src="{% static 'img/headshots/bad.jpg' %}" class="img-responsive" alt="bad headshot example">
								<div class="caption red text-center bold">unprofessional look</div>
							</div>
							</div>
						</div> -->
						</li>
					 	<li>Last minute hair care (you may bring a brush or a comb)</li>
					 </ul>
					</li>

					<div class="medium_padding"></div>
					<li>
						<h4 class="bold large_font">gentlemen</h4>
						<ul>
							<li>You may wear a tie, jacket, or button down shirt. If you’re wearing a tie, look to keep it centered at the top of your collar.</li>
							<!--
							<div class="row">
								<div class="col-sm-6 col-xs-12">
								<div class="thumbnail">
									<img src="{% static 'img/headshots/watermark5.jpg' %}" class="img-responsive" alt="Bryte Photo Headshot">
									<div class="caption red text-center bold">professional</div>
								</div>
								</div>
								<div class="col-sm-6 col-xs-12">
								<div class="thumbnail">
									<img src="{% static 'img/headshots/bad2.jpg' %}" class="img-responsive" alt="bad headshot example">
									<div class="caption red text-center bold">unprofessional</div>
								</div>
								</div>
							</div>
							-->
							<li>Resting your shirt or jacket smoothly along your shoulders
							<!--
							<div class="row">
								<div class="col-sm-6 col-xs-12">
								<div class="thumbnail">
									<img src="{% static 'img/headshots/watermark6.jpg' %}" class="img-responsive" alt="Bryte Photo Headshot">
									<div class="caption red text-center bold">professional</div>
								</div>
								</div>
								<div class="col-sm-6 col-xs-12">
								<div class="thumbnail">
									<img src="{% static 'img/headshots/bad3.jpg' %}" class="img-responsive" alt="bad headshot example">
									<div class="caption red text-center bold">unprofessional</div>
								</div>
								</div>
							</div>-->
							</li>
							<li>Last minute hair care (you may bring a brush or comb)</li>
						</ul>
					</li>
				</ul>

				<div class="large_padding"></div>


				<h2 class="bold">We know how to make you smile :)))</h2>
				<div class="medium_padding"></div>
				<ul>
				<li>We'll take you through different types of poses so you find the one that's uniquely best for you. It's important to relax here and let our photographer guide you through the poses. It's going to be super comfortable.</li></ul>


        <div class="row small_padding">
          <div class="col-sm-4">
            <div class="small_margin_all hs_shadow_border">
              <img src="{% static 'img/headshots/examples/premium/white3.jpg' %}" class="img-responsive">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="small_margin_all hs_shadow_border">
              <img src="{% static 'img/headshots/examples/premium/black3.jpg' %}" class="img-responsive">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="small_margin_all hs_shadow_border">
              <img src="{% static 'img/headshots/examples/premium/blue3.jpg' %}" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="row small_padding">
          <div class="col-sm-4">
            <div class="small_margin_all hs_shadow_border">
              <img src="{% static 'img/headshots/examples/premium/white.jpg' %}" class="img-responsive">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="small_margin_all hs_shadow_border">
              <img src="{% static 'img/headshots/examples/premium/black.jpg' %}" class="img-responsive">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="small_margin_all hs_shadow_border">
              <img src="{% static 'img/headshots/examples/premium/brick2.jpg' %}" class="img-responsive">
            </div>
          </div>
        </div>

				<div class="large_padding"></div>
				<h2 class="bold">How does the process work?</h2>
				<div class="medium_padding"></div>
				<div class="row">
					<div class="col-sm-5 col-sm-push-7">
						<div class="thumbnail">
						<img src="{% static 'img/tips/p6.jpg' %}" class="img-responsive" alt="Bryte Photo Headshot step one">
						</div>
					</div>

					<div class="col-sm-7 col-sm-pull-5">
						<ul>
						<li>Head to the waiting room when you get to the photoshoot. You can brush up there like we talked about above.</li></ul>
					</div>
				</div>
				<div class="small_padding"></div>

				<div class="row">
					<div class="col-sm-5">
						<div class="thumbnail">
						<img src="{% static 'img/tips/p9.jpg' %}" class="img-responsive" alt="Bryte Photo Headshot step two">
						</div>
					</div>
					<div class="col-sm-7">
					<ul><li>You'll take a photo with a whiteboard to start. We call this the "mugshot". We have you take this photo because the identifying number we write on the whiteboard will be how we know to attach your photos to your email.</li></ul>
					</div>
				</div>
				<div class="small_padding"></div>

				<div class="row">
					<div class="col-sm-5 col-sm-push-7">
						<div class="thumbnail">
						<img src="{% static 'img/tips/p8.jpg' %}" class="img-responsive" alt="Bryte Photo Headshot step three">
						</div>
					</div>
					<div class="col-sm-7 col-sm-pull-5">
						<ul><li>Then your photographer will guide you through all of the poses we designed to make you look amazingly professional.</li></ul>
					</div>
				</div>

				<div class="small_padding"></div>


				<div class="row">
					<div class="col-sm-5">
						<div class="thumbnail">
						<img src="{% static 'img/tips/p7.jpg' %}" class="img-responsive" alt="Bryte Photo Headshot step two">
						</div>
					</div>
					<div class="col-sm-7">
						<ul><li>Shortly after the photoshoot you'll be emailed a link to a provide gallery with all your photos.  This is where you can download them. Once you download a photo you can use it however you want!</li></ul>
					</div>
				</div>

				<div class="small_padding"></div>

				<div class="droid_serif">
				<div class="large_padding"></div>

        <div class="flex_box_center mm_height">
        	<div class="row">
        	<div class="col-md-12 col-md-offset-0 col-xs-10 col-xs-offset-1">
            <p class="big_font">"I've been waiting for this forever"</p>
            <p class="text-right small_padding bold"> – Mikaela G.</p>
        	</div>
        	</div>
        </div>
				</div>
				</div>
			</div>
		</div>

		<div class="large_padding"></div>
	</div>
{% endblock %}