{% extends "base.html" %}
{% load staticfiles %}

{% block description %}
  <meta name="description" content="Bryte Photo Headshot tips">
{% endblock %}

{% block keywords %}
  <meta name='keywords' content="headshot, tips, photo, photography, on location, quality, affordable, profile, Bryte">
{% endblock %}

{% block content %}
	<div class="offset"></div>
	<div class="red_bg top_border">
		<div class="medium_padding"></div>
		<h1 class="white text-center bold feature_title">Bryte Photo Headshot Tips</h1>

		<div class="medium_padding"></div>

		<div class="container white">
			<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<div class="page-header">
					<h3 class="bold">Before your Headshot</h3>
				</div>
				<ul>
					<li>Please arrive at the shoot location 5 min. before you time slot begins</li>
					<li>Sit down in the waiting area until your photographer is ready to shoot your headshot. Photos will be taken on a first come, first serve basis for each time slot.</li>
					<li>We will have grey and white backdrop options available on shoot day. We think both look good, and allow you to pick your favorite on shoot day.
					<div class="medium_padding"></div>
					<div class="row">
						<div class="col-sm-6 col-xs-12">
						<div class="thumbnail">
							<img src="{% static 'img/headshots/watermark1.jpg' %}" class="img-responsive" alt="Bryte Photo Headshot">
						</div>
						</div>
						<div class="col-sm-6 col-xs-12">
						<div class="thumbnail">
							<img src="{% static 'img/headshots/watermark2.jpg' %}" class="img-responsive" alt="Bryte Photo Headshot">
						</div>
						</div>
					</div>
					</li>
					<div class="small_padding"></div>
					<li>You can use the mirror in the waiting area to prepare for your headshot. Here are some ways the mirror is useful:
					</li>

					<div class="medium_padding"></div>
					<li>
					 <h4 class="bold large_font">Ladies</h4>
					 <ul>
					 	<li>Resting your jacket, blouse, or sweater evenly across your shoulders
						<div class="medium_padding"></div>
						<div class="row">
							<div class="col-sm-4 col-xs-12">
							<div class="thumbnail">
								<img src="{% static 'img/headshots/watermark3.jpg' %}" class="img-responsive" alt="Bryte Photo Headshot">
								<div class="caption red text-center bold">professional look</div>
							</div>
							</div>
							<div class="col-sm-4 col-xs-12">
							<div class="thumbnail">
								<img src="{% static 'img/headshots/watermark4.jpg' %}" class="img-responsive" alt="Bryte Photo Headshot">
								<div class="caption red text-center bold">professional look</div>
							</div>
							</div>
							<div class="col-sm-4 col-xs-12">
							<div class="thumbnail">
								<img src="{% static 'img/headshots/bad.jpg' %}" class="img-responsive" alt="bad headshot example">
								<div class="caption red text-center bold">unprofessional look</div>
							</div>
							</div>
						</div>
						</li>
					 	<li>Last minute hair care (you may bring a brush or a comb)</li>
					 </ul>
					</li>

					<div class="medium_padding"></div>
					<li>
						<h4 class="bold large_font">Gentlement</h4>
						<ul>
							<li>You may wear a tie, jacket, or button down shirt. If you’re wearing a tie, look to keep it centered at the top of your collar.</li>
							<div class="medium_padding"></div>
							<div class="row">
								<div class="col-sm-6 col-xs-12">
								<div class="thumbnail">
									<img src="{% static 'img/headshots/watermark5.jpg' %}" class="img-responsive" alt="Bryte Photo Headshot">
									<div class="caption red text-center bold">professional</div>
								</div>
								</div>
								<div class="col-sm-6 col-xs-12">
								<div class="thumbnail">
									<img src="{% static 'img/headshots/bad2.jpg' %}" class="img-responsive" alt="bad headshot example">
									<div class="caption red text-center bold">unprofessional</div>
								</div>
								</div>
							</div>
							<div class="medium_padding"></div>
							<li>Resting your shirt or jacket smoothly along your shoulders
							<div class="medium_padding"></div>
							<div class="row">
								<div class="col-sm-6 col-xs-12">
								<div class="thumbnail">
									<img src="{% static 'img/headshots/watermark6.jpg' %}" class="img-responsive" alt="Bryte Photo Headshot">
									<div class="caption red text-center bold">professional</div>
								</div>
								</div>
								<div class="col-sm-6 col-xs-12">
								<div class="thumbnail">
									<img src="{% static 'img/headshots/bad3.jpg' %}" class="img-responsive" alt="bad headshot example">
									<div class="caption red text-center bold">unprofessional</div>
								</div>
								</div>
							</div>
							</li>
							<li>Last minute hair care (you may bring a brush or comb)</li>
						</ul>
					</li>
				</ul>

				<div class="medium_padding"></div>

				<div class="page-header">
					<h3 class="bold">During your Bryte Photo Headshot</h3>
				</div>
				<div class="row">
					<div class="col-sm-5 col-sm-push-7">
						<div class="thumbnail">
						<img src="{% static 'img/headshots/step1.jpg' %}" class="img-responsive" alt="Bryte Photo Headshot step one">
						</div>
					</div>

					<div class="col-sm-7 col-sm-pull-5">
						<p>1. When it’s time to take your photo, your photographer will hand you a whiteboard with your unique number written on it.  We give you this number so we can identify you when we send you your touched up photo.</p>
					</div>
				</div>
				<div class="small_padding"></div>

				<div class="row">
					<div class="col-sm-5">
						<div class="thumbnail">
						<img src="{% static 'img/headshots/step2.jpg' %}" class="img-responsive" alt="Bryte Photo Headshot step two">
						</div>
					</div>
					<div class="col-sm-7">
					<p>2. You’ll take one photo with this whiteboard at the beginning of your session. You can hand it to your photographer after you take the photo.</p>
					</div>
				</div>
				<div class="small_padding"></div>

				<div class="row">
					<div class="col-sm-5 col-sm-push-7">
						<div class="thumbnail">
						<img src="{% static 'img/headshots/step3.jpg' %}" class="img-responsive" alt="Bryte Photo Headshot step three">
						</div>
					</div>
					<div class="col-sm-7 col-sm-pull-5">
						<p>3. You’re photographer a couple different poses on shoot day.  Throughout your session, you’ll be able to see your photos as you take them.  We’ll make sure you walk out of the session with one you like.</p>
					</div>
				</div>

				<div class="small_padding"></div>

				<p>4. After you’ve had your session, you’re all done!  We’ll touch up your favorite photo within 48 hours.  Then we’ll email you a link to a Dropbox folder that has you a touched up and raw version of the photo.</p>

				<div class="medium_padding"></div>

				<div class="droid_serif">
				<div class="page-header">
					<h3 class="bold">Bryte Photo</h3>
				</div>
				<p>We deliver professional headshots that are on location, high quality, and unbelievably priced.</p>
				<div class="small_padding"></div>
				<p>“I’ve been waiting for this forever” – Michaela G.</p>
				</div>
				</div>
			</div>
		</div>

		<div class="large_padding"></div>
	</div>
{% endblock %}