{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<div class="jumbotron red_bg">
		<div class="medium_padding"></div>
		{% if notify %}
			<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
			<h2 class="white text-center">{{ notify }}</h2>
			</div>
			</div>
			{% else %}
		

		
			<h1 class="white bold text-center">Passport Payment</h1>

			<div class="medium_padding text-center">
			<p class="text-center large_text white bold">Fedex and USPS Price: <del>$15</del><br>CVS Price: <del>$12.99</del><br><span class="bold">Bryte Passport: $11.99</span></p>
			<div class="small_padding"></div>
			
			<form action="" method="POST">{% csrf_token %}
			  <script
			    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			    data-key="{{ publish_key }}"
			    data-amount="1199"
			    data-name="Bryte"
			    data-description="Passport Photo"
			    data-image=""
			    data-locale="auto">
			  </script>
			</form>
			</div>

			<div class="medium_padding"></div>

			<ul class="white text-center">
				<li>6 2x2 inch prints to a mailing address of your choice</li>
				<li>a sized and formatted digital copy of your passport delivered by email </li>
				<li>Digital copies and prints sized and formatted exactly to the US Department of State specifications</li>
			</ul>
			<div class="medium_padding"></div>
			<div class="text-center">

			</div>

			<p class="text-center white">Please email your delivery address to hello@brytephoto.com</p>

		{% endif %}


	<div class="large_padding"></div>
	</div>
	
	<!-- loader -->
	<div id="loader-wrapper" hidden>
	  <div id="loader" class="text-center"><img src="{% static 'logo/loading.svg' %}" width="140px"></div>
	</div>
{% endblock %}


{% block jquery %}
  .ajaxStart(function () {
    $("#loader-wrapper").show();
  })

  .ajaxStop(function () {
    $("#loader-wrapper").hide();
  });
{% endblock %}


