{% extends "base.html" %}
{% load staticfiles %}

{% block description %}
  <meta name="description" content="Get More Headshot with Bryte Photo">
{% endblock %}

{% block content %}
	<div class="red_bg">
		<div class="medium_padding"></div>
		<h1 class="white text-center bold landing_title zero_margin">Get More Headshot</h1>
		<div class="medium_padding"></div>
		<div class="text-center">
			<button class="btn-white-lg landing_text_main">button 1</button>&nbsp&nbsp&nbsp<button class="btn-white-lg landing_text_main">button 2</button>
		</div>
	</div>


	<!-- three things -->
	<div class="container">
		<h2 class="landing_title text-center bold">Benefits of additional headshots</h2>
		<div class="row">
			<div class="col-md-4 text-center">
				<p>Field One</p>
			</div>
			<div class="col-md-4 text-center">
				<p>Field Two</p>
			</div>
			<div class="col-md-4 text-center">
				<p>Field Three</p>
			</div>
		</div>

	</div>


	<div class="container">
    <div class="row">
      <div class="col-md-6">
      	<div class="medium_padding"></div>
          <div class="row">
		          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
      </div>
      <div class="col-md-6">
      	<div class="medium_padding"></div>
      	<img src="{% static 'img/headshots/hs5.jpg' %}" height='300px'>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
      	<div class="medium_padding"></div>
          <div class="row">
		          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
      </div>
      <div class="col-md-6">
      	<div class="medium_padding"></div>
      	<img src="{% static 'img/headshots/hs5.jpg' %}" height='300px'>
      </div>
    </div>
	</div>

	<div class="red_bg">
		<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
		<div class="medium_padding"></div>
		<p class="white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>

		<div class="medium_padding"></div>
		</div>
		</div>

	</div>


{% endblock %}