{% extends "base.html" %}
{% load staticfiles %}
	
{% block content %}
	<div class="jumbotron" style="background: url({% static 'img/jumbo3_dark.png' %}); background-size: cover; text-align: center;">
		<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
		<h2 class="text-center bold feature_title	 white">FAQ</h2>
		</div>
		</div>
	</div>

	<div class="container medium_padding medium_padding_bot">
		<ul class="list_space_small">
			<li>Question about Student Liability?</li>
			<li>How to register as a student photographer?</li>
			<li>How do I recieve payment?</li>
		</ul>
	</div>
{% endblock %}