{% extends "base.html" %}
{% load staticfiles %}
{% block description %}
  <meta name="description" content="Bryte Photo FAQ section for both student photographer, videographer and local small businesses.">
{% endblock %}

{% block content %}
	<div class="jumbotron" style="background: url({% static 'img/jumbo3_dark.png' %}); background-size: cover; text-align: center;">
		<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
		<h2 class="text-center bold feature_title	 white">FAQ</h2>
		</div>
		</div>
	</div>

	<div class="large_padding text-center">
		<ul class="list-inline">
			<li><a href="#faq_photographer" class="blue">Creative FAQs</a></li>
			<li><a href="#faq_user" class="light_blue">Client FAQs</a></li>
		</ul>
	</div>

	<div class="container">

		<div class="medium_padding medium_padding_bot" id="faq_photographer">
			<h3 class="background_blue package_title bold package_title_mediumw text-center ">Creative FAQs</h3>

			<div class="package_content package_border_blue">
				<ul class="pricing_list">
					<li class="bold">Do I need insurance to be contracted on Bryte?</li>
					<li class="faq_answer">No. You don't need to have insurance. However, you may independently purchase liability insurance or equipment insurance</li>

					<li class="bold">How will I collect my payment?</li>
					<li class="faq_answer">You will receive your payment electronically through Stripe within 30 days of the completion of the shoot</li>
					<li class="bold">Is Bryte my employer?</li>
					<li class="faq_answer">No. If you make more than $600 with Bryte during a single year, you will be sent 1099 tax forms with payment details. You will receive specific instructions on how to read and use these forms when you sign up for Bryte</li>
					<li class="bold">What if I forget to show up on the day of the shoot?</li>
					<li class="faq_answer">We don’t have any tolerance for no shows on the day of the shoot. If you forget to show up, we may have to remove you from the our website</li>
				</ul>
			</div>
		</div>

		<div class="medium_padding medium_padding_bot" id="faq_user">
			<h3 class="background_light_blue package_title bold package_title_mediumw text-center">Client FAQs</h3>

			<div class="package_content package_border_light_blue">
				<ul class="pricing_list">
					<li class="bold">When do I have to pay?</li>
					<li class="faq_answer">You must pay within 30 days of completion date of your shoot</li>
					<li class="bold">What if I want a photography service that is not offered in one of your packages?</li>
					<li class="faq_answer">We can work with you! Contact us at <a href="mailto:hello@brytephoto.com" target="_top" class="blue">hello@brytephoto.com</a> with your request</li>
					<li class="bold">Where are you currently available?</li>
					<li class="faq_answer">We are available throughout New England, however shooting far away Providence may include travel fees. We are looking to expand to other cities soon</li>
					<li class="bold">What if I'm not happy with my promotional content?</li>
					<li class="faq_answer">We strive to maintain high quality service. If your creative did not meet expectation, you may be eligible for a full refund. Contact us at <a href="mailto:hello@brytephoto.com" target="_top" class="blue">hello@brytephoto.com</a> with your concerns.</li>
					<li class="bold">What if my photographer does not show up on the date of the shoot?</li>
					<li class="faq_answer">We strive to hire responsible photographers on our website. If a photographer does not show up on the day of the shoot, then we will give you a full refund, and we will also contact that photographer to make sure Bryte maintains a high quality of service.</li>
				</ul>
			</div>
		</div>

	</div>
{% endblock %}