{% extends "base.html" %}
{% load staticfiles %}
{% block description %}
  <meta name="description" content="Bryte Photo FAQ section for both student photographer, videographer and local small businesses.">
{% endblock %}

{% block content %}
<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	  Book Now
	</button>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <form>
	        	<label>School Year</label>
	        	<select class="form-control">
	        		<option>Freshman</option>
	        		<option>Sophomore</option>
	        		<option>Junior</option>
	        		<option>Senior</option>
	        		<option>Super Senior</option>
	        		<option>Master Student</option>
	        		<option>Ph.D Student</option>
	        		<option>Other</option>
	        	</select>
	        	<div class="small_padding"></div>

	        	<label>What is your headshot for?</label>
	        	<select class="form-control">
	        		<option>Update my LinkedIn Profile</option>
	        		<option>Job Hunting</option>
	        		<option>Show it to my parents</option>
	        		<option>Other</option>
	        	</select>
	        	<div class="small_padding"></div>

	        	<label>What's your professional Path</label>
	        	<select class="form-control">
	        		<option>Business</option>
	        		<option>Computer Science</option>
	        		<option>Art</option>
	        		<option>Marketing</option>
	        		<option>Other</option>
	        	</select>
	        </form>
	      </div>
	      <div class="modal-footer">
	      	<div class="text-center">
	        <button type="button" class="btn btn-primary">Book Now</button>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}

{% block script %}
  <script src="{% static 'js/lightgallery.js' %}"></script>
  <script src="{% static 'js/lg-thumbnail.js' %}"></script>
  <script src="{% static 'js/lg-fullscreen.js' %}"></script>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="{% static 'js/animatedModal.min.js' %}"></script>

{% endblock %}
{% block jquery %}


{% endblock %}