{% load staticfiles %}
<footer id="footer" class="container top_border">
  <div class="row medium_padding">
    <div class="col-md-3 col-xs-12" id="footer_menu">
      <ul class="small_font">
      <div class="row">
      <div class="col-md-12">
        <li><a href="{% url 'about' %}"><span class="red">A</span>bout</a></li>
      </div>
      <div class="col-md-12">
        <li><a href="{% url 'photographers' %}"><span class="red">C</span>reatives</a></li>
      </div>
<!--      <div class="col-md-12 col-sm-6 col-xs-3">
        <li><a href="{% url 'blogs' %}"><span class="blue">B</span>log</a></li>
      </div> -->
      <div class="col-md-12">
        <li><a href="{% url 'legal' %}"><span class="red">L</span>egal Documentation</a></li>
      </div>

      {% if request.user.is_authenticated %}
      <div class="col-md-12">
        <li><a href="{{ request.user.profile.photographer.get_absolute_url }}"><span class="red">M</span>y Profile</a></li>
      </div> 
      <div class="col-md-12">
        <li><a href="{% url 'profile' %}"><span class="red">M</span>y Dashboard</a></li>
      </div> 
      <div class="col-md-12">
        <li><a href="{% url 'auth_logout' %}"><span class="red">L</span>og Out</a></li>
      </div> 
      {% else %}
      <div class="col-md-12">
        <li><a href="{% url 'auth_login' %}"><span class="red">P</span>hotographer Login</a></li>
      </div>
      {% endif %}

      </div>
      </ul>
    </div>
    <div id="footer_about" class="col-md-5 col-xs-10">
      <p>Professional quality headshot for $25!</p>
      <div class="small_padding"></div>
      <p>Have any questions? Email <a href="mailto:hello@brytephoto.com" target="_top" class="red">hello@brytephoto.com</a> or Call us with questions. Even if you just want to say Hi 248-417-5852.</p>
    </div>
<!--     <div id="footer_social" class="col-md-3 pull-right col-xs-12">
      <ul class="list-inline">
        <li><a href=""><span class="fa fa-facebook"></span></a></li>
        <li><a href=""><span class="fa fa-instagram"></span></a></li>
        <li><a href=""><span class="fa fa-twitter"></span></a></li>
        <li><a href=""><span class="fa fa-yelp"></span></a></li>
      </ul>
    </div> -->
  </div>
  <!-- <hr> -->
  <div class="row" id="footer_copyright">
    <div class="col-xs-12 text-center">
      <h4><a href="{% url 'home' %}" class="bold">Bryte Photo Inc</a></h4>
      <p>Copyright 2016</p>
    </div>
  </div>
  <div class="medium_padding"></div>
</footer>
