{% load staticfiles %}

<footer id="footer" class="content_wrapper">
  <div class="row">
    <div class="col-md-3 col-xs-12" id="footer_menu">
      <ul class="list_space_xsmall">
        <li><a href="{% url 'about' %}"><span class="blue">A</span>bout</a></li>
        <li><a href="{% url 'photographers' %}"><span class="yellow">P</span>hotographer</a></li>
        <li><a href="{% url 'reserve' %}"><span class="pink">R</span>eserve</a></li>
      </ul>
    </div>
    <div id="footer_about" class="col-md-5 col-xs-12">
      <p>TakeOne is a professional platform that gathers various photographers and users who are seeking photoshoot. With just a simple text on the phone, one can actually ask anything or reserve for photographers. Cheers!</p>
    </div>
<!--     <div id="footer_social" class="col-md-3 pull-right col-xs-12">
      <ul class="list-inline">
        <li><a href=""><span class="fa fa-facebook"></span></a></li>
        <li><a href=""><span class="fa fa-instagram"></span></a></li>
        <li><a href=""><span class="fa fa-twitter"></span></a></li>
        <li><a href=""><span class="fa fa-yelp"></span></a></li>
      </ul>
    </div> -->
  </div>
  <!-- <hr> -->
  <div class="row" id="footer_copyright">
    <div class="col-xs-12 text-center">
      <h4><a href="{% url 'home' %}" class="bold">Bryte</a></h4>
      <p>Copyright 2015</p>
    </div>
  </div>
</footer>