{% load staticfiles %}
<footer id="footer" class="container top_border">
  <div class="row medium_padding">
    <div class="col-md-3 col-xs-12" id="footer_menu">
      <ul class="small_font">
        <li><a href="{% url 'about' %}"><span class="blue">A</span>bout</a></li>
        <li><a href="{% url 'photographers' %}"><span class="yellow">P</span>hotographer</a></li>
        <li><a href="{% url 'blogs' %}"><span class="blue">B</span>log</a></li>
        <li><a href="{% url 'become_photographer' %}"><span class="blue">J</span>oin as a photographer</a></li>
      </ul>
    </div>
    <div id="footer_about" class="col-md-5 col-xs-12">
      <p class="light">Bryte is a website where you can find your local student photographers. Get photos you will be proud today!</p>
      <p>Have any questions? Email <a href="mailto:hello@brytephoto.com" target="_top" class="dark_yellow">hello@brytephoto.com</a></p>
    </div>
<!--     <div id="footer_social" class="col-md-3 pull-right col-xs-12">
      <ul class="list-inline">
        <li><a href=""><span class="fa fa-facebook"></span></a></li>
        <li><a href=""><span class="fa fa-instagram"></span></a></li>
        <li><a href=""><span class="fa fa-twitter"></span></a></li>
        <li><a href=""><span class="fa fa-yelp"></span></a></li>
      </ul>
    </div> -->
  </div>
  <!-- <hr> -->
  <div class="row" id="footer_copyright">
    <div class="col-xs-12 text-center">
      <h4><a href="{% url 'home' %}" class="bold">Bryte</a></h4>
      <p>Copyright 2015</p>
    </div>
  </div>
</footer>
