{% load staticfiles %}

<nav class="navbar navbar-default" id="main_nav">
<!--style="background: url({% static 'img/nav.jpg' %}) no-repeat center; background-size: cover;"-->
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}"><img alt="Brand" src="{% static 'logo/logo.png' %}" width="150px" style="margin-top: 6px"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'pricing' %}">Pricing</a></li>
        <li><a href="{% url 'photographers' %}">Our Photographers</a></li>
      </ul>
    </div>
  </div>
</nav>

