{% load staticfiles %}
<!-- navbar-fixed-top navbar-default-->
<nav class="navbar navbar-default navbar-fixed-top" id="main_nav">
<!--style="background: url({% static 'img/nav.jpg' %}) no-repeat center; background-size: cover;"-->
  <div class="">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}"><img alt="Bryte Photo logo" src="{% static 'logo/bryte_logo_white.png' %}" width="120px" style="margin-top: 0px"></a>
      <a class="navbar-brand" href="http://seeed.org" target="_blank"><img alt="Bryte Photo logo" src="{% static 'img/seeed_white.png' %}" width="180px" style="margin-top: 0px"></a>
    </div>

    <div class="collapse navbar-collapse" id='bs-example-navbar-collapse-1'>
      <ul class="nav navbar-nav navbar-right">
        <li class="bold small_padding_right"><a href="#index_past_work"><span class="white">Our Past Work</span></a></li>
      </ul>
    </div>
  </div>
        <!-- border 
      <div class="custom_border" style="background: url({% static 'img/border.png' %}) no-repeat center; background-size: cover; text-align: center;">
      </div> -->
</nav>


