{% load staticfiles %}
<!-- navbar-fixed-top navbar-default-->
{% if is_index %}
  <nav class="navbar navbar-default" id="main_nav">
{% elif is_contact %}
  <nav class="navbar navbar-default navbar_grey navbar_border" id="main_nav">
{% elif is_clients %}
  <nav class="navbar navbar-default navbar_grey navbar_border" id="main_nav">
{% elif brown_careerlab %}
  <nav class="navbar navbar-default navbar_grey navbar_border" id="main_nav">
{% else %}
  <nav class="navbar navbar-default navbar_grey navbar_border" id="main_nav">
{% endif %}

<!--style="background: url({% static 'img/nav.jpg' %}) no-repeat center; background-size: cover;"-->
  <div class="">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="{% url 'home' %}" class="navbar-brand">
          <img alt="Bryte Photo logo" src="{% static 'logo/bryte_logo_white.png' %}" height="50px">
      </a>

      {% if brown_careerlab %}
        <a href="https://www.brown.edu/" target="_blank"><img alt="Brown University" src="{% static 'logo/brown_logo.png' %}" height="50px"></a>
        <a href="https://www.brown.edu/campus-life/support/careerlab/" target="_blank"><img alt="CareerLAB" src="{% static 'logo/CareerLAB_logo.jpg' %}" height="50px"></a>
      {% endif %}
    </div>

    <div class="collapse navbar-collapse" id='bs-example-navbar-collapse-1'>
      <ul class="nav navbar-nav navbar-right">
        <li class="bold">{% if brown_careerlab %}
          <a href="#careerlab_gallery"><span class="white small_padding_right">Past Headshots</span>{% else %}
        <a href="{% url 'landing_clients' %}"><span class="white">Our Clients</span>{% endif %}</a></li>
        {% if not brown_careerlab %}
          <li class="bold small_padding_right"><a href="{% url 'landing_contact' %}"><span class="light_red large_font">Contact Us</span></a></li>
        {% endif %}
      </ul>
    </div>
  </div>
        <!-- border 
      <div class="custom_border" style="background: url({% static 'img/border.png' %}) no-repeat center; background-size: cover; text-align: center;">
      </div> -->
</nav>


