{% extends "base.html" %}
{% load staticfiles %}


{% block stylesheets %}
{% endblock %}


{% block content %}

	<div class="droid_serif background_grey">
		<div class="left_right_padding mod_container">
			<div class="medium_padding"></div>
			<h1 class="text-center landing_title">Select your background</h1>

			<div class="small_padding"></div>


			<div class="row">
				<div class="col-sm-4">
					
					<div class="hs_margin hs_shadow_border">
						{% if free %}
							<img src="{% static 'img/headshots/examples/free/white.jpg' %}" class="img-responsive full_width">
						{% else %}
							<img src="{% static 'img/headshots/examples/premium/white.jpg' %}" class="img-responsive">
						{% endif %}
					</div>


					<div class="text-center">
						<h2 class="text-center">White</h2>
						<div class="small_padding"></div>
						<p class="big_font">$0</p>

						<div class="xsmall_padding"></div>

						<!-- work on the modal button -->
						{% if free %}
							<a data-toggle="modal" data-target="#whiteExampleF"><button class="text_button">See More Examples</button></a>
						{% else %}
							<a data-toggle="modal" data-target="#whiteExampleP"><button class="text_button">See More Examples</button></a>
						{% endif %}

						<p class="landing_text">Reviews</p>
						<div class="small_padding"></div>

						<form action="{% url 'headshot_print_frame' %}">
							<input type="hidden" name='background' value='1'>
							<input type="hidden" name='subtotal' value='0'>
							<button class="ord_button_w" type="submit">Choose</button>
						</form>
					</div>

					<div class="small_padding"></div>

					<p class="small_font droid_serif grey italic all_padding text-center">A "one size fits all"</p>
					<hr>
					<ul class="spec_list droid_serif grey text-center all_padding">
						<li>Suitable for all skin tones and hair colors</li>
						<li>Suitable for all outfits</li>
						<li>Standard background</li>
					</ul>


					<div class="medium_padding"></div>

				</div>


				<div class="col-sm-4">
					<div class="hs_margin hs_shadow_border">
						{% if free %}
							<img src="{% static 'img/headshots/examples/free/gray1.jpg' %}" class="img-responsive full_width">
						{% else %}
							<img src="{% static 'img/headshots/examples/premium/gray1.jpg' %}" class="img-responsive">
						{% endif %}
					</div>

					<div class="text-center">
						<h2 class="text-center">Polished Gray</h2>
						<div class="small_padding"></div>
						<div class="center_flex"><div class="inline"><span class="small_font sm_padding lightgray xs_padding_right">Pay at checkout</span><p class="big_font">$2</p><span class="small_font sm_padding lightgray xs_padding_left">Keep it forever</span></div></div>

						<div class="xsmall_padding"></div>

						<!-- work on the modal button -->
						{% if free %}
							<a data-toggle="modal" data-target="#grayExampleF"><button class="text_button">See More Examples</button></a>
						{% else %}
							<a data-toggle="modal" data-target="#grayExampleP"><button class="text_button">See More Examples</button></a>
						{% endif %}
						
						<p class="landing_text">Reviews</p>
						<div class="small_padding"></div>
						<form action="{% url 'headshot_print_frame' %}">
							<input type="hidden" name='background' value='2'>
							<input type="hidden" name='subtotal' value='2'>
							<button class="ord_button_w" type="submit">Choose</button>
						</form>
					</div>

					<div class="small_padding"></div>

					<p class="small_font droid_serif grey italic all_padding text-center">It keeps a low profile and makes almost any photo look great.</p>
					<hr>
					<ul class="spec_list droid_serif grey text-center all_padding">
						<li>Complements all skin tones and hair colors excellently</li>
						<li>A fantastic complement to any outfit except those which are mostly gray</li>
						<li>The most subtle of the colors – it quietly draws the attention towards you.</li>
					</ul>

					<div class="medium_padding"></div>
				</div>


				<div class="col-sm-4">
					<div class="hs_margin hs_shadow_border">
						{% if free %}
							<img src="{% static 'img/headshots/examples/free/brick.jpg' %}" class="img-responsive full_width">
						{% else %}
							<img src="{% static 'img/headshots/examples/premium/brick.jpg' %}" class="img-responsive">
						{% endif %}
					</div>

					<div class="text-center">
						<h2 class="text-center">Designer Bricks</h2>
						<div class="small_padding"></div>
						<div class="center_flex"><div class="inline"><span class="small_font sm_padding lightgray xs_padding_right">Pay at checkout</span><p class="big_font">$4</p><span class="small_font sm_padding lightgray xs_padding_left">Keep if forever</span></div></div>

						<div class="xsmall_padding"></div>

						<!-- work on the modal button -->
						{% if free %}
							<a data-toggle="modal" data-target="#brickExampleF"><button class="text_button">See More Examples</button></a>
						{% else %}
							<a data-toggle="modal" data-target="#brickExampleP"><button class="text_button">See More Examples</button></a>
						{% endif %}
						
						<p class="landing_text">Reviews</p>
						<div class="small_padding"></div>
						<form action="{% url 'headshot_print_frame' %}">
							<input type="hidden" name='background' value='3'>
							<input type="hidden" name='subtotal' value='2'>
							<button class="ord_button_w" type="submit">Choose</button>
						</form>
					</div>

					<div class="small_padding"></div>

					<p class="small_font droid_serif grey italic all_padding text-center">Designer bricks is a trendier background that’s refreshing.</p>
					<hr>
					<ul class="spec_list droid_serif grey text-center all_padding">
						<li>Complements all skin tones and hair colors excellently</li>
						<li>Outfits with white, light pastels, and light grey all look excellent with the white mortar in particular. Most other outfits also look really good.</li>
						<li>Crafted for the headshot takers who seek an outside-the-box (and stylish) background that will satisfy.</li>
					</ul>


					<div class="medium_padding"></div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4">
					<div class="hs_margin hs_shadow_border">
						{% if free %}
							<img src="{% static 'img/headshots/examples/free/blue2.jpg' %}" class="img-responsive full_width">
						{% else %}
							<img src="{% static 'img/headshots/examples/premium/blue2.jpg' %}" class="img-responsive">
						{% endif %}
					</div>

					<div class="text-center">
						<h2 class="text-center">Sanguine Blue</h2>
						<div class="small_padding"></div>
						<div class="center_flex"><div class="inline"><span class="small_font sm_padding lightgray xs_padding_right">Pay at checkout</span><p class="big_font">$2</p><span class="small_font sm_padding lightgray xs_padding_left">Keep it forever</span></div></div>

						<div class="xsmall_padding"></div>

						<!-- work on the modal button -->
						{% if free %}
							<a data-toggle="modal" data-target="#blueExampleF"><button class="text_button">See Examples</button></a>
						{% else %}
							<a data-toggle="modal" data-target="#blueExampleP"><button class="text_button">See Examples</button></a>
						{% endif %}
						
						<p class="landing_text">Reviews</p>
						<div class="small_padding"></div>
						<form action="{% url 'headshot_print_frame' %}">
							<input type="hidden" name='background' value='4'>
							<input type="hidden" name='subtotal' value='2'>
							<button class="ord_button_w" type="submit">Choose</button>
						</form>
					</div>

					<div class="small_padding"></div>

					<p class="small_font droid_serif grey italic all_padding text-center">Brings photos confidence without losing any finesse.</p>
					<hr>
					<ul class="spec_list droid_serif grey text-center all_padding">
						<li>Works particularly well with light to dark skin tones and hair colors, but not limited to them </li>
						<li>A fantastic complement to almost any outfit</li>
						<li>The most bold of all the colors, blue says you are confident and ready for anything.</li>
					</ul>

					<div class="medium_padding"></div>
				</div>

				<div class="col-sm-4">
					<div class="hs_margin hs_shadow_border">
						{% if free %}
							<img src="{% static 'img/headshots/examples/free/black1.jpg' %}" class="img-responsive full_width">
						{% else %}
							<img src="{% static 'img/headshots/examples/premium/black1.jpg' %}" class="img-responsive">
						{% endif %}	
					</div>

					<div class="text-center">
						<h2 class="text-center">Nighttime Black</h2>
						<div class="small_padding"></div>
						<div class="center_flex"><div class="inline"><span class="small_font sm_padding lightgray xs_padding_right">Pay at checkout</span><p class="big_font">$2</p><span class="small_font sm_padding lightgray xs_padding_left">Keep it forever</span></div></div>

						<div class="xsmall_padding"></div>

						<!-- work on the modal button -->
						{% if free %}
							<a data-toggle="modal" data-target="#blackExampleF"><button class="text_button">See Examples</button></a>
						{% else %}
							<a data-toggle="modal" data-target="#blackExampleP"><button class="text_button">See Examples</button></a>
						{% endif %}
						
						<p class="landing_text">Reviews</p>
						<div class="small_padding"></div>
						<form action="{% url 'headshot_print_frame' %}">
							<input type="hidden" name='background' value='5'>
							<input type="hidden" name='subtotal' value='2'>
							<button class="ord_button_w" type="submit">Choose</button>
						</form>
					</div>

					<div class="small_padding"></div>

					<p class="small_font droid_serif grey italic all_padding text-center">A dramatic addition that creates an intriguing, mysterious look. </p>
					<hr>
					<ul class="spec_list droid_serif grey text-center all_padding">
						<li>Complements all skin tones and hair colors excellently</li>
						<li>Lighter colored and bright clothing are winners with black, but any color can look really good.</li>
						<li>Pops out in a big way and brings its magic to you as well. Alluring and stylish.</li>
					</ul>

					<div class="medium_padding"></div>
				</div>
			</div>
			

		</div>
	</div>


  <div class="modal fade droid_serif" id="myCart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">
      <div class="modal-content background_grey">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="text-center bold big_font">My Cart</h4>
          <div class="xsmall_padding"></div>
        </div>
        <div class="modal-body">


        {% for order in orders %}
        	<div class="small_padding"></div>
					<div class="">
						<div class="">
							<div class="row text-left">
								<div class="col-sm-5">
									<img src="{{ order.image.raw_url }}" class="img-responsive">
								</div>
								<div class="col-sm-7">
									<ul class="package_list sm_font bold">
										<li>Style: {{ order.get_touchup_display }}</li>
										{% if order.special_request %}
											<li>Special Request: {{ order.special_request }}</li>
										{% endif %}
										<li>Background: {{ order.get_background_display }}</li>
										<li>
											Keepsakes: {{ order.get_package_display }}
										</li>
										<li>Subtotal: ${{ order.total }}</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="small_padding"></div>
        {% endfor %}

        </div>

        <div class="modal-footer">
					<form action='{% url "headshot_checkout" %}'>
						<button class="ord_button_w" type="submit">Checkout ${{ order_total }}</button>
					</form>
					<div class="xsmall_padding"></div>
					<div class="xsmall_padding"></div>
					<form action="{% url 'headshot_index' %}">
						<input type="hidden" name="startover" value="1">
						<button type="submit" class="text_button">Start Over</button>
					</form>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade droid_serif" id="whiteExampleF" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">
      <div class="modal-content background_grey">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="text-center bold big_font">Examples</h4>
          <div class="xsmall_padding"></div>
        </div>
        <div class="modal-body">
        	<div class="row">
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/free/white.JPG' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/free/white1.JPG' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>
        	</div>
        	<div class="small_padding"></div>
        	<div class="row">
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/free/white2.jpg' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>
        	</div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade droid_serif" id="whiteExampleP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">
      <div class="modal-content background_grey">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="text-center bold big_font">Examples</h4>
          <div class="xsmall_padding"></div>
        </div>
        <div class="modal-body">
        	<div class="row">
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/premium/white.jpg' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/premium/white2.jpg' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>
        	</div>
        	<div class="small_padding"></div>
        	<div class="row">
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/premium/white1.jpg' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>
        	</div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade droid_serif" id="blueExampleF" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">
      <div class="modal-content background_grey">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="text-center bold big_font">Examples</h4>
          <div class="xsmall_padding"></div>
        </div>
        <div class="modal-body">
        	<div class="row">
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/free/blue.jpg' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/free/blue1.JPG' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>
        	</div>
        	<div class="small_padding"></div>
        	<div class="row">
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/free/blue2.jpg' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>
        	</div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade droid_serif" id="blueExampleP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">
      <div class="modal-content background_grey">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="text-center bold big_font">Examples</h4>
          <div class="xsmall_padding"></div>
        </div>
        <div class="modal-body">
        	<div class="row">
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/premium/blue2.jpg' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/premium/blue1.jpg' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>
        	</div>
        	<div class="small_padding"></div>
        	<div class="row">
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/premium/blue.jpg' %}" class="img-responsive hs_shadow_border max_width_250">
        			</div>
        	</div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade droid_serif" id="brickExampleF" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">
      <div class="modal-content background_grey">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="text-center bold big_font">Examples</h4>
          <div class="xsmall_padding"></div>
        </div>
        <div class="modal-body">
        	<div class="row">
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/free/brick.jpg' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/free/brick1.jpg' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>
        	</div>
        	<div class="small_padding"></div>
        	<div class="row">
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/free/brick2.jpg' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>
        	</div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade droid_serif" id="brickExampleP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">
      <div class="modal-content background_grey">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="text-center bold big_font">Examples</h4>
          <div class="xsmall_padding"></div>
        </div>
        <div class="modal-body">
        	<div class="row">
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/premium/brick.jpg' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/premium/brick1.jpg' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>
        	</div>
        	<div class="small_padding"></div>
        	<div class="row">
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/premium/brick2.jpg' %}" class="img-responsive hs_shadow_border max_width_250">
        			</div>
        	</div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade droid_serif" id="grayExampleF" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">
      <div class="modal-content background_grey">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="text-center bold big_font">Examples</h4>
          <div class="xsmall_padding"></div>
        </div>
        <div class="modal-body">
        	<div class="row">
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/free/gray.jpg' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/free/gray1.jpg' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>
        	</div>
        	<div class="small_padding"></div>
        	<div class="row">
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/free/gray2.jpg' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>
        	</div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade droid_serif" id="grayExampleP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">
      <div class="modal-content background_grey">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="text-center bold big_font">Examples</h4>
          <div class="xsmall_padding"></div>
        </div>
        <div class="modal-body">
        	<div class="row">
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/premium/gray.jpg' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/premium/gray1.jpg' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>
        	</div>
        	<div class="small_padding"></div>
        	<div class="row">
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/premium/gray2.jpg' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>

        	</div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade droid_serif" id="blackExampleF" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">
      <div class="modal-content background_grey">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="text-center bold big_font">Examples</h4>
          <div class="xsmall_padding"></div>
        </div>
        <div class="modal-body">
        	<div class="row">
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/free/black.jpg' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/free/black1.jpg' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>
        	</div>
        	<div class="small_padding"></div>
        	<div class="row">
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/free/black2.jpg' %}" class="img-responsive hs_shadow_border max_width_250">
        		</div>
        	</div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade droid_serif" id="blackExampleP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">
      <div class="modal-content background_grey">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="text-center bold big_font">Examples</h4>
          <div class="xsmall_padding"></div>
        </div>
        <div class="modal-body">
        	<div class="row">
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/premium/black.jpg' %}" class="img-responsive max_width_250 hs_shadow_border">
        		</div>
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/premium/black1.jpg' %}" class="img-responsive max_width_250 hs_shadow_border">
        		</div>
        	</div>
        	<div class="small_padding"></div>
        	<div class="row">
        		<div class="col-xs-6">
        			<img src="{% static 'img/headshots/examples/premium/black2.jpg' %}" class="img-responsive max_width_250 hs_shadow_border">
        		</div>
        	</div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
	<!-- loader -->
	<div id="loader-wrapper" hidden>
	  <div id="loader" class="text-center"><img src="{% static 'img/order/balls.svg' %}" width="140px"></div>
	</div>

{% endblock %}

{% block script %}
{% endblock %}


{% block jquery %}
	$('.ord_button_w').on('click', function(){
		$('#loader-wrapper').show();  
	})
{% endblock %}