{% extends "base.html" %}
{% load staticfiles %}


{% block stylesheets %}
{% endblock %}


{% block content %}

	<div class="droid_serif background_grey">
		<div class="left_right_padding">
			<div class="medium_padding"></div>
			<h1 class="text-center landing_title">Style your photo</h1>

			<div class="small_padding"></div>


			{% if cart %}
				<div class="text-center">
					<button class="ord_button" data-toggle="modal" data-target="#myCart">My Cart</button>
				</div>
			{% endif %}

			<!-- headshot raw photos -->
			<div class="mod_container">
			<div class="row">
				<div class="col-sm-4">
					<div class="hs_margin">
						<div class="text-center">
						<img src="{% static 'img/headshots/examples/free/black1.jpg' %}" class="img-responsive">
						</div>
					</div>

					<div class="text-center">
						{% if proceed %}
							<h2 class="text-center">Dollar</h2>
						{% else %}
							<h2 class="text-center">Free</h2>
						{% endif %}
						<div class="small_padding"></div>
						{% if proceed %}
						<div class="center_flex"><div class="inline"><span class="small_font sm_padding lightgray xs_padding_right">Pay at checkout</span><p class="big_font">$1</p><span class="small_font sm_padding lightgray xs_padding_left">One time payment</span></div></div>
						{% else %}
							<p class="big_font">$0</p>
						{% endif %}
						

						<div class="xsmall_padding"></div>

						<!-- work on the modal button -->
						<a data-toggle="modal" data-target="#touchupExample">See More Examples</a>
						<p class="landing_text">Reviews</p>
						<div class="small_padding"></div>

						<form action="{% url 'headshot_background' %}">
							<input type="hidden" name='touchup' value='1'>
							<input type="hidden" name='hs_id' value='{{ hs_id }}'>

							{% if proceed %}
								<input type="hidden" name='subtotal' value='1'>
							{% else %}
								<input type="hidden" name='subtotal' value='0'>
							{% endif %}
							
							<button class="ord_button_w toggle" type="submit">Choose</button>
						</form>
					</div>

					<div class="small_padding"></div>

					<p class="small_font droid_serif grey italic all_padding">Adds enough for a usable professional headshot.</p>
					<hr>
					<ul class="spec_list droid_serif grey">
						<li>250 x 250 pixels – adequate image clarity</li>
						<li>Cropped to a square</li>
						<li>No lighting adjustments</li>
						<li>No extra details</li>
					</ul>
				</div>


				<div class="col-sm-4">
					<div class="hs_margin hs_shadow_border">
						<img src="{% static 'img/headshots/examples/premium/black.jpg' %}" class="img-responsive">
					</div>

					<div class="text-center">
						<h3 class="text-center landing_title_third bold">Upgraded</h3>
						<div class="small_padding"></div>
						<div class="center_flex"><div class="inline"><span class="small_font sm_padding lightgray xs_padding_right">Pay at checkout</span><p class="big_font">$8</p><span class="small_font sm_padding lightgray xs_padding_left">One time payment</span></div></div>

						<div class="xsmall_padding"></div>

						<!-- work on the modal button -->
						<a data-toggle="modal" data-target="#touchupExample">See More Examples</a>
						<p class="landing_text">Reviews</p>
						<div class="small_padding"></div>
						<form action="{% url 'headshot_background' %}">
							<input type="hidden" name='touchup' value='2'>
							<input type="hidden" name='hs_id' value='{{ hs_id }}'>
							<input type="hidden" name='subtotal' value='8'>
							<button class="ord_button_w toggle" type="submit">Choose</button>
						</form>
					</div>

					<div class="small_padding"></div>

					<p class="small_font droid_serif grey italic all_padding">Brings additional styling elements for a headshot ready</p>
					<hr>
					<ul class="spec_list droid_serif grey">
						<li>800+ x 800+ pixels - high definition image clarity</li>
						<li>Refined cropping by a our Guru Photoshoppers</li>
						<li>Vivid lighting throughout the photo</li>
						<li>Brings out eyes and teeth</li>
					</ul>
				</div>


				<div class="col-sm-4">
					<div class="hs_margin hs_shadow_border">
						<img src="{% static 'img/order/sample1.jpg' %}" class="img-responsive">
					</div>

					<div class="text-center">
						<h2 class="text-center">Customized</h2>
						<div class="small_padding"></div>
						<div class="center_flex"><div class="inline"><span class="small_font sm_padding lightgray xs_padding_right">Pay at checkout</span><p class="big_font">$14</p><span class="small_font sm_padding lightgray xs_padding_left">One time payment</span></div></div>

						<div class="xsmall_padding"></div>

						<!-- work on the modal button -->
						<a data-toggle="modal" data-target="#modal_style_basic">See More Examples</a>
						<p class="landing_text">Reviews</p>
						<div class="small_padding"></div>
						<!--
						<form action="{% url 'headshot_background' %}">
							<input type="hidden" name='touchup' value='3'>
							<input type="hidden" name='hs_id' value='{{ hs_id }}'>
							<input type="hidden" name='subtotal' value='14'>
							<button class="ord_button_w" type="submit">Choose</button>
						</form>
						-->
						<a data-toggle="modal" data-target="#special_request"><button class="ord_button_w">Choose</button></a>
					</div>

					<div class="small_padding"></div>

					<p class="small_font droid_serif grey italic all_padding">Perfects and shines – your steak just got topped with white truffles.</p>
					<hr>
					<ul class="spec_list droid_serif grey">
						<li>Everything in  "Upgraded", plus</li>
						<li>Make special requests! Get rid of the unprofessional piercings unexpectedly still on you. Type away!</li>
						<li>Livens your skin with acne touchup</li>
						<li>Removes split ends and unflattering facial hair</li>
					</ul>
				</div>
			</div>
			</div>

			<div class="large_padding"></div>
		</div>
	</div>



	<!-- special request popup -->
  <div class="modal fade" id="special_request" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">
      <div class="modal-content background_grey">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="text-center futura bold big_font">Enter your special request</h4>
          <div class="xsmall_padding"></div>
        </div>
        <div class="modal-body">


				<form action="{% url 'headshot_background' %}">
					<div class="center_content_600">
					<input type="text" name='special_request' class="form-control futura">
					</div>
					<input type="hidden" name='touchup' value='3'>
					<input type="hidden" name='hs_id' value='{{ hs_id }}'>
					<input type="hidden" name='subtotal' value='14'>
					<div class="small_padding"></div>
					<div class="text-center">
						<button class="ord_button_w toggle" type="submit">
					Sounds good</button>
					</div>
				</form>

        </div>

        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
	<!-- basic style example -->

  <div class="modal fade" id="myCart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">
      <div class="modal-content background_grey">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="text-center futura bold big_font">My Cart</h4>
          <div class="xsmall_padding"></div>
        </div>
        <div class="modal-body">


        {% for order in orders %}
        	<div class="small_padding"></div>
					<div class="">
						<div class="">
							<div class="row text-left">
								<div class="col-sm-5">
									<img src="{{ order.image.raw_url }}" class="img-responsive">
								</div>
								<div class="col-sm-7">
									<ul class="package_list futura sm_font bold">
										<li>{{ order.get_touchup_display }}</li>
										{% if order.special_request %}
											<li>Special Request: {{ order.special_request }}</li>
										{% endif %}
										<li>{{ order.get_background_display }}</li>
										<li>Subtotal: ${{ order.total }}</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
        	<div class="small_padding"></div>
        {% endfor %}

        </div>

        <div class="modal-footer">
					<form action='{% url "headshot_checkout" %}'>
						<button class="ord_button_w toggle" type="submit">Checkout ${{ order_total }}</button>
					</form>
					<div class="xsmall_padding"></div>
					<div class="xsmall_padding"></div>
					<form action="{% url 'headshot_index' %}">
						<input type="hidden" name="startover" value="1">
						<button type="submit" class="text_button">Start Over</button>
					</form>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="touchupExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog example_modal" role="document">
      <div class="modal-content background_grey">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="text-center futura bold big_font">Examples</h4>
          <div class="xsmall_padding"></div>
        </div>
        <div class="modal-body futura">
        	<div class="row">
        		<div class="col-sm-4 center_flex">
        			<h3 class="text-center">Free</h3>
        			<div class="small_padding"></div>
        			<img src="{% static 'img/headshots/examples/free/black1.jpg' %}" class="img-responsive">
        			<div class="small_padding"></div>
        			<img src="{% static 'img/headshots/examples/free/blue.jpg' %}" class="img-responsive">
        			<div class="small_padding"></div>
        			<img src="{% static 'img/headshots/examples/free/gray2.jpg' %}" class="img-responsive">
        		</div>
        		<div class="col-sm-4 center_flex">
        			<h3 class="text-center">Basic Upgrades</h3>
        			<div class="small_padding"></div>
        			<img src="{% static 'img/headshots/examples/free/black1.jpg' %}" class="img-responsive">
        			<div class="small_padding"></div>
        			<img src="{% static 'img/headshots/examples/free/blue.jpg' %}" class="img-responsive">
        			<div class="small_padding"></div>
        			<img src="{% static 'img/headshots/examples/free/gray2.jpg' %}" class="img-responsive">
        		</div>
        		<div class="col-sm-4 center_flex">
        			<h3 class="text-center">Full Suite</h3>
        			<div class="small_padding"></div>
        			<img src="{% static 'img/headshots/examples/free/black1.jpg' %}" class="img-responsive">
        			<div class="small_padding"></div>
        			<img src="{% static 'img/headshots/examples/free/blue.jpg' %}" class="img-responsive">
        			<div class="small_padding"></div>
        			<img src="{% static 'img/headshots/examples/free/gray2.jpg' %}" class="img-responsive">
        		</div>
        	</div>

        	<div class="large_padding"></div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>



	<!-- loader -->
	<div id="loader-wrapper" hidden>
	  <div id="loader" class="text-center"><img src="{% static 'img/order/balls.svg' %}" width="140px"></div>
	</div>

{% endblock %}

{% block script %}
{% endblock %}


{% block jquery %}

	$('.toggle').on('click', function(){
		$('#loader-wrapper').show();  
	})
{% endblock %}