{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<div class="droid_serif background_grey text-center">
		<div class="container">
			<div class="medium_padding"></div>
			<h1 class="text-center landing_title">Thank you!</h1>
			<div class="medium_padding"></div>

			<p class="landing_text">
				Thank you for the purchase! We will send you an email confirmation on the order, and will deliver the headshots to you in 48 hours!
			</p>

			<div class="medium_padding"></div>

			<div class="center_content_600">

				<p>Enter your email address you registered the photoshoot with to continue shopping:</p>
				<form class="text-center" action="{% url 'headshot_error' %}">
					<input type='email' name='hs_email' class="form-control" required placeholder='Email Address' onchange="try{setCustomValidity('')}catch(e){}">
					<div class="medium_padding"></div>
					<button class="ord_button_w" type="submit">Continue Shopping</button>
				</form>
				<div class="large_padding"></div>
			</div>

			<div class="large_padding"></div>
		</div>
	</div>
{% endblock %}