{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

	<div class="droid_serif background_grey">
		<div class="mod_container">
			<div class="large_padding"></div>
				<h1 class="text-center landing_title">Choose one of your photos</h1>
			<div class="medium_padding"></div>
			<div class="small_padding"></div>

			<!-- for second for more 
			{% if proceed and show_button %}
				<div class="special_padding">
					<form action='{% url "headshot_checkout" %}'>
						<button class="ord_button_w toggle" type="submit">Checkout ${{ order_total }}</button>
					</form>
				</div>

				<div class="medium_padding"></div>
			{% endif %}
			-->

			<div class="small_padding"></div>

			{% for hs_url, hs_pk in headshots %}

				{% cycle '<div class="row">' '' %}

					<div class="col-sm-6 special_padding_s">
						<img src="{{ hs_url }}" class="img-responsive hs_shadow_border">
						<div class="small_padding"></div>


						<form method="GET" action={% url 'headshot_style' %}>
							<input type="hidden" value={{ hs_pk }} name="hs_pk">
							<div class="text-center">
								{% if proceed %}
									<button class="ord_button toggle" type="submit">Choose</button>
								{% else %}
									<button class="ord_button_w toggle" type="submit">Choose</button>
								{% endif %}
							</div>
						</form>
						<div class="medium_padding"></div>
					</div>
					
				
				{% cycle '' '</div>' %}

			{% endfor %}

			<div class="medium_padding"></div>
		</div>

<!--
		{% if proceed and show_button %}
			<div class="text-center special_padding">
				<form action='{% url "headshot_checkout" %}'>
					<button class="ord_button_w toggle" type="submit">Checkout ${{ order_total }}</button>
				</form>
			</div>

			<div class="medium_padding"></div>
		{% endif %}
		-->
	</div>


  <div class="modal fade droid_serif" id="cart_box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">
      <div class="modal-content background_grey">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="sbig_font">&times;</span></button>
          <div class="xsmall_padding"></div>
        </div>
        <div class="modal-body">
        	<div class="row">
        		<div class="col-xs-10 col-xs-offset-1">
        			<h3 class="text-center bold">I've got all the photos I'd like</h3>
        			<div class="small_padding"></div>
        			<div id="checkout_cart" class="all_padding">	
        				{% for order in orders %}
        					<article id="cart_{{ order.hash_id }}">
        						<div class="small_padding"></div>
        						<img src="{{ order.raw_url }}" class="img-responsive hs_shadow_border">
        						<div class="xsmall_padding"></div>
        						<ul class="package_list small_font">
        							<li>Style: {{ order.get_touchup_display }}</li>
        							<li>Background: {{ order.get_background_display }}</li>
        							{% if order.package %}
        								<li>Keepsake: {{ order.get_package_display }}</li>
        							{% endif %}
        							{% if order.special_request %}
        								<li>Special requests: {{ order.special_request }}</li>
        							{% endif %}
        							<li>Subtotal: ${{ order.total }}</li>
        							<li class="remove_buttons">
        								<button class="remove_button italic text_button_black" name="{{ order.hash_id }}">remove</button>
        							</li>
        						</ul>
        						<div class="small_padding"></div>
        					</article>
        				{% endfor %}
        			</div>
        			<div class="all_padding text-center">
								<form action="{% url 'headshot_checkout' %}" id="headshot_checkout_form">

									<!--
										<input type='text' name='address' placeholder="Shipping Address" class="form-control" id="order_address" required onchange="try{setCustomValidity('')}catch(e){}">
									-->
									<h3>Order Total: $<span id="cart_total">{{ order_total }}</span></h3>
									<div class="small_padding"></div>
									<button class="black_order_button toggle" id="headshot_pay_button">Proceed to checkout</button>
								</form>
        			</div>
        		</div>
        	</div>

        	<div class="small_padding"></div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

	<!-- loader -->
	<div id="loader-wrapper" hidden>
	  <div id="loader" class="text-center"><img src="{% static 'img/order/balls.svg' %}" width="140px"></div>
	</div>

{% endblock %}

{% block jquery %}
	$('.toggle').on('click', function(){
		// $('#loader-wrapper').show();  
	})

	$('.remove_buttons>button').on('click', function(e){
		var id = $(this).attr('name');
		$.ajax({
			url: '{% url "headshot_remove" %}',
			data: {hash_id: id},
			success: function(data){
				console.log("success");
				$('article#cart_'+id).fadeOut(300);
				// update the total
				$('#cart_total').text(data['total']);

				// hide the button
				if(data['empty']){
					$('#headshot_pay_button').fadeOut(300);
				}else{
					$('headshot_pay_button').show();
				}
			},
			failure: function(data){
			 	console.log('failure');
			}
		});
	});
{% endblock %}