{% extends "base.html" %}
{% load staticfiles %}


{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="droid_serif background_grey">
		<div class="container">
			<div class="large_padding"></div>
			<h1 class="text-center">The photos we took of you are no longer here. Thanks for participating in the photoshoot!</h1>

			<div class="large_padding"></div>

			<div class="center_content_600">

				<p>We clean our photos 3 weeks after the shoot</p>

				<div class="large_padding"></div>
			</div>
		</div>
	</div>
{% endblock %}
