{% extends "base.html" %}
{% load staticfiles %}


{% block stylesheets %}
{% endblock %}


{% block content %}

	<div class="droid_serif background_grey text-center">
		<div class="left_right_padding">
			<div class="large_padding"></div>
			<h1 class="text-center landing_title">Order Summary</h1>

			<div class="medium_padding"></div>

			<!-- for charging error msg -->
			{% if msg %}
				<div class="container">
					<p class="red text-center">{{ msg }}</p>
				</div>
			{% endif %}

			<div class="text-center">
				{% for order in orders %}
					<div class="medium_padding"></div>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">

							<div class="row text-left">
								<div class="col-sm-5">
									<img src="{{ order.image.raw_url }}" class="img-responsive">
								</div>
								<div class="col-sm-7">
									<ul class="package_list sm_padding">
										<li>Style: {{ order.get_touchup_display }}</li>
										{% if order.special_request %}
											<li>Special Request: {{ order.special_request }}</li>
										{% endif %}
										<li>Background: {{ order.get_background_display }}</li>
										{% if order.package == 1 %}
											<div id="keepsake_{{ order.hash_id }}">
												<li><a data-toggle="modal" data-target="#keepsake_box"><button class="keepsake_button ord_button_s" name="{{ order.hash_id }}">print it</button></a></li>
											</div>
										{% else %}
											<li>Keepsake: {{ order.get_package_display }}</li>
										{% endif %}

										<li>Subtotal: ${{ order.total }}</li>
										<!--<li><button class="remove_button" name="{{ order.hash_id }}">remove</button></li>-->
									</ul>
								</div>
							</div>

							
							
						</div>

					</div>
				{% endfor %}

			
			
			{% if not free %}
				<div class="medium_padding"></div>
				<div class="small_padding"></div>
			  <div class="checkbox lg_font bold">
			    <label>
			      <input type="checkbox" id="process_option"> 2 day Express Shipping
			    </label>
			  </div>			
			{% endif %}


			<div class="small_padding"></div>
			<h2>Total Amount: $<span id="total_amount">{{ total }}</span></h2>
			</div>

		</div>

		<div class="small_padding"></div>

		{% if free %}
			<form action="{% url 'headshot_complete' %}">
				<input type="hidden" name='free' value='1'>
				<button class="ord_button_w toggle">Place the order</button>
			</form>
		{% else %}
			<div class="center_content_600">
				<form action="{% url 'headshot_complete' %}" id="headshot_checkout_form" method="POST">{% csrf_token %}

					{% if has_package %}
						<input type='text' name='address' placeholder="Shipping Address" class="form-control" id="order_address" required onchange="try{setCustomValidity('')}catch(e){}">
						<div class="small_padding"></div>
					{% endif %}
					<button class="ord_button_w" id="headshot_pay_button">Pay and place order</button>
				</form>
			</div>
		{% endif %}

		<div class="xsmall_padding"></div>
		<div class="xsmall_padding"></div>

<!--
		<form action="{% url 'headshot_index' %}">
			<input type="hidden" name="startover" value="1">
			<button type="submit" class="text_button toggle">Clear cart</button>
		</form>
-->
		<div class="medium_padding"></div>

		<div class="center_content_1000">
			<h3 class="">How will I receive my photos?</h3>
			<div class="small_padding"></div>
			<p class="small_font grey">Your photos will be emailed to you within 5 days of your payment. You'll be able to download them from the email and upload them wherever you like.</p>
			<div class="small_padding"></div>

			<h3 class="">How secure is your online payment processor?</h3>
			<div class="small_padding"></div>
			<p class="small_font grey">We work with Stripe, the leading online payment processor in the industry. Stripe also works with companies like Airbnb and Lyft.</p>
		</div>
		<div class="large_padding"></div>
	</div>


  <div class="modal fade droid_serif" id="keepsake_box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">
      <div class="modal-content background_grey">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="text-center bold big_font">Choose your keepsakes</h4>
          <div class="xsmall_padding"></div>
        </div>
        <div class="modal-body">
					<div class="row">
						<div class="col-md-6 col-xs-12">

							<div class="text-center">
								<h3 class="text-center">Wallet Prints</h3>
								<div class="small_padding"></div>
								<div class="center_flex"><div class="inline"><span class="small_font sm_padding lightgray xs_padding_right">Pay at checkout</span><p class="big_font">$3</p><span class="small_font sm_padding lightgray xs_padding_left">Free Shipping</span></div></div>

								<div class="small_padding"></div>

								<button class="ord_button keepsake_select_button" type="submit" name="2" value="3">Choose</button>
							</div>

							<div class="small_padding"></div>

							<hr>
							<ul class="spec_list droid_serif grey all_padding text-center">
								<li>Includes 6 Wallet Prints (each 2.5x2.5) </li>
								<li>Photos are printed on matte paper for a high quality print that doesn't scratch</li>
							</ul>


							<div class="medium_padding"></div>

						</div>


						<div class="col-md-6 col-xs-12">

							<div class="text-center">
								<h3 class="text-center">Friends and Family</h3>
								<div class="small_padding"></div>
								<div class="center_flex"><div class="inline"><span class="small_font sm_padding lightgray xs_padding_right">Pay at checkout</span><p class="big_font">$9</p><span class="small_font sm_padding lightgray xs_padding_left">Free Shipping</span></div></div>

								<div class="small_padding"></div>

								<button class="ord_button keepsake_select_button" type="submit" name="3" value="9">Choose</button>
							</div>

							<div class="small_padding"></div>

							<hr>
							<ul class="spec_list droid_serif grey all_padding text-center">
								<li>Includes 8 Wallet Print (2.5x2.5), 2 Standard Prints (6x6), and 1 Big Print (10x10)</li>
								<li>Photos are printed on matte paper for a high quality print that doesn't scratch</li>
							</ul>


							<div class="medium_padding"></div>
						</div>
						
							<div class="medium_padding"></div>
					</div>

        	<div class="small_padding"></div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

	<!-- loader -->
	<div id="loader-wrapper" hidden>
	  <div id="loader" class="text-center"><img src="{% static 'img/order/balls.svg' %}" width="140px"></div>
	</div>
{% endblock %}

{% block script %}
	<script src="https://checkout.stripe.com/checkout.js"></script>
  <script type="text/javascript">
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
  </script>
{% endblock %}


{% block jquery %}

	$('.toggle').on('click', function(){
		$('#loader-wrapper').show();  
	})

  function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }

  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });


	var img = '';
	var ship = {{ stripe_total }};
	var total = {{ total }}
	// keepsake, store in var
	$('.keepsake_button').on('click', function(e){
		img = $(this).attr('name');
	});

	$('.keepsake_select_button').on('click', function(e){
		keepsake = $(this).attr('name');
		value = $(this).val();

		// do the ajax
		$.ajax({
			url: '{% url "headshot_keepsake_add" %}',
			data: {
				hash_id: img,
				keepsake: keepsake,
				value: value,
			},
			success: function(data){
				console.log('success');
				location.reload();
			},	
			failure: function(data){
				console.log('failure');
			},
		})
	});

	// remove function
	$('.remove_button').on('click', function(e){
		var id = $(this).attr('name');
		$.ajax({
			url: "{% url 'headshot_remove' %}",
			data: {hash_id: id},
			success: function(data){
				console.log('success')
				location.reload();
			},
			failure: function(data){
				console.log('failure');
				alert('There\'s an error, please try again.');
			}
		})
	})


	// checkbox expedite shipping
	$('#process_option').change(function(){
		if(this.checked){
			ship += 200;
			// update the total
			total = {{ total }} + 2;
			$('#total_amount').text(total);
		}else{
			ship -= 200;
			// update the total
			total = {{ total }};
			$('#total_amount').text(total);
		}
	})



	var handler = StripeCheckout.configure({
	  key: '{{ publish_key }}',
	  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
	  locale: 'auto',
	  token: function(token) {
	    // You can access the token ID with `token.id`.
	    // Get the token ID to your server-side code for use.

	    $('#loader-wrapper').show(); 

	    $('<input>').attr({
			    type: 'hidden',
			    name: 'token',
			    value: token.id,

			}).appendTo('#headshot_checkout_form');
	    $('<input>').attr({
			    type: 'hidden',
			    name: 'total',
			    value: ship,

			}).appendTo('#headshot_checkout_form');

	    $('<input>').attr({
			    type: 'hidden',
			    name: 'express',
			    value: $('#process_option:checked').val(),

			}).appendTo('#headshot_checkout_form');
			$('#headshot_checkout_form').submit();
	  }
	});

	document.getElementById('headshot_pay_button').addEventListener('click', function(e) {
	  // Open Checkout with further options:

	  {% if has_package %}
	  	if (document.getElementById('order_address').checkValidity()){
	  {% endif %}
	  
	  	handler.open({
	    name: 'Bryte',
	    description: 'Headshot',
	    zipCode: true,
	    amount: ship,
	  	});

	  {% if has_package %}
	  	}
	  {% endif %}
	  
	  e.preventDefault();
	});

	// Close Checkout on page navigation:
	window.addEventListener('popstate', function() {
	  handler.close();
	});


{% endblock %}