{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<div class="droid_serif background_grey text-center">
		<div class="container">
			<div class="medium_padding"></div>
			<h1 class="text-center landing_title">Congratulations on your order!</h1>
			<div class="medium_padding"></div>

			<p class="landing_text">
				You’ll receive an email to confirm your order with more details on it shortly.
			</p>

			<div class="medium_padding"></div>

			<div class="center_content_600">

				<a href="{% url 'headshot_index' %}"><button class="main_green_button_mid">Continue Shopping</button></a>

				<div class="large_padding"></div>
			</div>

			<div class="large_padding"></div>
		</div>
	</div>
{% endblock %}