{% extends "base.html" %}
{% load staticfiles %}

{% block description %}
  <meta name="description" content="Bryte Photo has a variaty of promotional photo, video and headshot packages for small businesses.">
{% endblock %}

{% block content %}
	<div class="background_grey">
    <div class="jumbotron" style="background: url({% static 'img/food_bg1.jpg' %}); background-size: cover; text-align: center;">
      <h1 class="text-center bold main_title white medium_padding medium_padding_bot">Choose your package</h1>
	    </div>
		<div class="container">
		<!--<div class="text-center background_light_blue border_blue_dashed">
			<h2 class="text-center bold main_title white small_padding">Choose Your Package</h2>
			<div class="row">
			<p class="col-xs-8 col-xs-offset-2 light white small_padding_bot">
				*All of the packages includes the life time rights to photos/videos
			</p>	
			</div>
		</div> -->
		<div class="small_padding"></div>


		<!-- 
		Put buttons here, and send data using ajax in jquery instead of a form
		-->
		
		<div class="step_buttons text-center">

			<div id="step_one">
			<h3 class="big_font small_padding bold">Step One</h3>
	
				<div class="center_flex">
					<a href='' class="btn-blue width_big no_hover flow_button" id="photography_button">
						<div class="small_padding small_padding_bot">
							<i class="glyphicon glyphicon-camera xxbig_font"></i><br>
							Photography
						</div>
					</a>

					<div class="width_offset"></div>

					<a href='' class="btn-blue width_big no_hover flow_button" id="videography_button">
						<div class="small_padding small_padding_bot">
							<i class="glyphicon glyphicon-facetime-video xxbig_font"></i><br>
						Videography
						</div>
					</a>

					<div class="width_offset"></div>

					<a href='' class="btn-blue width_big no_hover flow_button" id="headshot_button">
						<div class="small_padding small_padding_bot">
							<i class="glyphicon glyphicon-user xxbig_font"></i><br>
						Headshot
						</div>
					</a>
				</div>

			</div>


			<div id="step_two">	
			<h3 class="big_font bold">Step Two</h3>

			<div class="center_flex">
					<a href='' class="btn-blue width_big no_hover flow_button" id="small_business_button">
						<div class="small_padding small_padding_bot">
							<i class="glyphicon glyphicon-briefcase xxbig_font"></i><br>
							Small Business
						</div>
					</a>

					<div class="width_offset"></div>

					<a href='' class="btn-blue width_big no_hover flow_button" id="real_estate_button">
						<div class="small_padding small_padding_bot">
							<i class="glyphicon glyphicon-home xxbig_font"></i><br>
						Read Estate
						</div>
					</a>

			</div>
			</div>

		</div>


		<div id="step_three">			

		<div class="small_padding"></div>
		<h3 class="big_font bold text-center">Step Three</h3>


			{% for shared_title, packages in packages_list.items %}
				<div class="{{ shared_title }}">
				<div class="small_padding"></div>
					<h2 class="text-center small_padding medium_padding_bot bold">{{ shared_title }}</h2>

				<div class="row">
				{% for package in packages %}
				
					{% if packages|length == 1 %}
						<div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
					{% elif packages|length == 2 %}
						<div class="col-md-6 col-md-offset-0 col-xs-10 col-xs-offset-1">
					{% elif packages|length >= 3%}
						<div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1">
					{% endif %}
					<!--<div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1">-->
						<div class="small_padding medium_padding_bot">

						<div class="background_light_blue package_title package_title_mediumw text-center">
							<h3 class="bold" id='{{ package.pk }}'>{{ package.title }}</h3>
							{% if package.subtitle %}
								<p class="light">{{ package.subtitle }}</p>
							{% endif %}
						</div>

							<div class="package_content package_border_light_blue">
								<h2 class="text-center bold big_font">{% if package.price %}
									${{ package.price }}{% else %}Contact Us to get quote
								{% endif %}</h2>
								<h4 class="text-center light small_font small_padding">Included in this package:</h4>
								<ul class="pricing_list light small_font">
									{% for feature in package.get_feature_set %}
										<li>{{ feature.feature_text }}</li>
									{% endfor %}
								</ul>
								<form class="text-center medium_padding large_font" method="GET" action="{% url 'photographers' %}">
									<input type="hidden" value="{{ package.pk }}" name="package_select">
									<button type="submit" class="btn-blue">Choose</button>
								</form>
							</div>
						</div>
					</div>
					
				{% endfor %}
				</div>	
				<hr>
				</div>
			{% endfor %}
			</div>


		<!-- light_blue, dark_blue, blue -->
		<!-- package_border_light_blue, package_border_dark_blue, package_border_blue -->
		</div>
	</div>
{% endblock %}



{% block jquery %}
	$('a:not(.navbar-brand)').click(function(event){
		event.preventDefault();
	});

	$('.flow_button').click(function(){
    $(this).toggleClass("toggle_down");
  });

	$('#step_two, #step_three').hide();


	$('#photography_button, #videography_button').click(function(){
		$('#step_two').toggle(300);
		$('#step_three').fadeOut(300);
		$('#small_business_button, #real_estate_button').removeClass('toggle_down');
	});

	$('#small_business_button, #real_estate_button').click(function(){
		$('#step_three').toggle(300);
	});

	// click one, disable the other
	$('#photography_button').click(function(){
		$('#videography_button, #headshot_button').removeClass('toggle_down');
	})
	$('#videography_button').click(function(){
		$('#photography_button, #headshot_button').removeClass('toggle_down');
	})
	$('#headshot_button').click(function(){
		$('#videography_button, #photography_button').removeClass('toggle_down');
	})
	$('#small_business_button').click(function(){
		$('#real_estate_button').removeClass('toggle_down');
		$('#small_business_button').addClass('toggle_down');
		if($('#photography_button').hasClass('toggle_down')){
			$('#step_three > :not(.Product, .Marketing)').fadeOut(200, function(){
				$('.Product, .Marketing').fadeIn(200);
				$('#step_three').fadeIn(200);
			});			
		}
		if($('#videography_button').hasClass('toggle_down')){
			$('#step_three > :not(.Promotional)').fadeOut(200, function(){
				$('.Promotional').fadeIn(200);
				$('#step_three').fadeIn(200);
			});			
		}
	})

	$('#real_estate_button').click(function(){
		$('#real_estate_button').addClass('toggle_down');
		$('#small_business_button').removeClass('toggle_down');
		if($('#photography_button').hasClass('toggle_down')){
			$('#step_three > :not(.Photo)').fadeOut(200, function(){
				$('.Photo').fadeIn(200);
				$('#step_three').fadeIn(200);
			});			
		}
		if($('#videography_button').hasClass('toggle_down')){
			$('#step_three > :not(.Tours, .Advertising)').fadeOut(200, function(){
				$('.Tours, .Advertising').fadeIn(200);
				$('#step_three').fadeIn(200);
			});			
		}
	})

	$headshot_title = 'Headshot'
	$('#headshot_button').click(function(){
		if(!$('#headshot_button').hasClass('toggle_down'))
			$('#step_three').fadeOut(200);
		else{
		$('#step_two').fadeOut(200);
		$('#small_business_button, #real_estate').removeClass('toggle_down');
		$('#step_three > :not(.Headshot)').fadeOut(200, function(){
			$('.Headshot').fadeIn(200);
			$('#step_three').fadeIn(200);
		});
		}
	});



	


{% endblock %}