{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	<div class="jumbotron" style="background: url({% static 'img/jumbo3_dark.png' %}); background-size: cover; text-align: center;">
		<h2 class="text-center bold main_title white">Packages</h2>
	</div>

	<div class="background_grey">

	<div class="container">
		<div class="large_padding text-center">
			<ul class="list-inline small_padding">
				{% for package in packages %}
					<li><a href="#{{ package.pk }}" class="blue">{{ package.title }}</a></li>
				{% endfor %}
			</ul>
		</div>

		{% for package in packages %}
		<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
		<div class="medium_padding medium_padding_bot">
			<h3 class="background_light_blue package_title bold package_title_mediumw text-center" id='{{ package.pk }}'>{{ package.title }}</h3>

			<div class="package_content package_border_light_blue">
				<h2 class="text-center bold big_font">{% if package.price %}
					${{ package.price }}{% else %}Contact Us to get quote
				{% endif %}</h2>
				<h4 class="text-center bold large_font small_padding">Features</h4>
				<ul class="pricing_list">
					{% for feature in package.pricefeature_set.all %}
						<li>{{ feature.feature_text }}</li>
					{% endfor %}
				</ul>
				<form class="text-center medium_padding large_font" method="GET" action="{% url 'photographers' %}">
					<input type="hidden" value="{{ package.pk }}" name="package_select">
					<button type="submit" class="btn-blue">Select</button>
				</form>
			</div>
		</div>
		</div>
		</div>
		{% endfor %}


		<!-- light_blue, dark_blue, blue -->
		<!-- package_border_light_blue, package_border_dark_blue, package_border_blue -->
		</div>
	</div>
{% endblock %}