{% extends "base.html" %}
{% load staticfiles %}
{% block description %}
  <meta name="description" content="Bryte Photo provides a dashboard to allow student photographer and videographer manage their own information.">
{% endblock %}

{% block profile %}
	<div class="jumbotron" style="background: url({% static 'img/bg_profile.jpg' %}); background-size: cover; text-align: center;">
		<h2 class="text-center bold main_title white medium_padding medium_padding_bot">Dashboard</h2>
	</div>
	<div class="container">

<!-- Set up Stripe Account-->

		{% if not profile.photographer.stripe_user_id %}
			<div class="row medium_padding">
				<div class="col-sm-8 col-sm-offset-2 text-center background_light_blue border_blue_dashed">
					<div class="small_padding"></div>
					<h3 class="bold white large_font">You have not set up ways to receive your payment yet!</h3>
					<div class="small_padding"></div>
					<a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id={{ client_id }}&scope=read_write&stripe_user[email]={{ profile.user.email }}"><button class="btn-blue">Setup Payment</button></a>
					<div class="medium_padding"></div>
				</div>
			</div>
		{% endif %}


<!-- Set up Dropbox Account-->

		{% if not profile.photographer.dropbox_acct and not user.is_superuser %}
			<div class="row medium_padding dropbox_box">
				<div class="col-sm-8 col-sm-offset-2 text-center background_grey border_blue_dashed">
					<div class="small_padding"></div>
					<h3 class="large_font" id='dropbox_msg'>Click here to connect to your Dropbox Account to upload the deliverables for every project.</h3>
					<div class="small_padding"></div>
					<form id="dropbox_form" class="form-inline">
						<input type='text' id='dropbox_input' placeholder='Dropbox email' class="form-control">
						<button class="btn-blue" id='dropbox_input_button'>Connect</button>
					</form>
					<div class="loader text-center">
						<img src="{% static 'logo/ripple.gif' %}">
					</div>
					<div class="medium_padding"></div>
				</div>
			</div>
		{% endif %}


		<div class="content_wrapper">
				{% if message %}
		    	<div class="row small_padding small_padding_bot">
						<div class="col-sm-4 col-sm-offset-4 notification_box col-xs-6 col-xs-offset-3">
						<p class="text-center small_font">{{ message }}</p>
						</div>
		    	</div>
		    {% endif %}
				{% if auth_message %}
		    	<div class="row small_padding small_padding_bot">
						<div class="col-sm-4 col-sm-offset-4 notification_box col-xs-6 col-xs-offset-3">
						<p class="text-center small_font">{{ auth_message }}</p>
						</div>
		    	</div>
		    {% endif %}

	  	<div class="text-center">
				<a href="{{ profile.get_photographer_url }}"><button class="btn-blue">My Profile</button></a>
				<a href="{% url 'profile_edit' %}"><button class="btn-blue">Edit Profile</button></a>
			</div>

			<div class="row small_font">
				<div class="col-xs-8 col-xs-offset-2">
					<div class="medium_padding"></div>
					<h3 class="text-center bold">Information</h3>
					<!--<ul class="info_list">
						<li>username: {{ profile.user.username }}</li>
						<li>email: {{ profile.user.email }}</li>
					</ul>-->
					<div class="list-group small_padding">
					  <p class="list-group-item" href="#"><i class="fa fa-user fa-fw"></i>&nbsp; {{ profile.user.username }}</p>
					  <p class="list-group-item" href="#"><i class="fa fa-envelope fa-fw"></i>&nbsp; {{ profile.user.email }}</p>
					  <p class="list-group-item" href="#"><i class="fa fa-shopping-bag fa-fw"></i>&nbsp; {{ profile.reservation_set.count }} transactions</p>
					</div>
				</div>

				<div class="col-xs-10 col-xs-offset-1">
				<div class="small_padding"></div>
				<h3 class="text-center bold">Reservations</h3>
					<div class="row small_padding_bot small_padding">
						<div class="col-xs-10 col-xs-offset-1">

						{% if user.is_superuser %}
							{% if not all_reservations %}
								<p class="text-center small_padding">There's no reservations yet!</p>
							{% else %}

								<ul class="list-group">
								{% for reservation in all_reservations %}
									<li class="list-group-item">
										<span class="badge light" id="badge_{{ reservation.pk }}">{{ reservation.status }}</span>
										<h4 class="list-group-item-heading">{{ reservation.business_name }} ---- {{ reservation.price.title }} {{ reservation.price.shared_title }} ---- ${{ reservation.price.price }}</h4>

										<p class="list-group-item-text"><i class="glyphicon glyphicon-user"></i> {{ reservation.photographer.get_full_name }}</p>

										<div class="small_padding"></div>
										{% if reservation.status == "Taken" %}
											<div class="complete_content">
											<div id="loader_{{ reservation.id }}" class="loader
											 text-center">
												<img src="{% static 'logo/ripple.gif' %}">
											</div>
											<form class="display_none" id='complete_form' method="GET">
												<input type='hidden' name='res_pk' value="{{ reservation.pk }}" id="complete_val">
											</form>
											<button class="btn-blue" id="complete" type='submit' form='complete_form'>Complete</button>
											</div>
										{% endif %}
									</li>
								{% endfor %}
								</ul>

							{% endif %}


						{% else %}


							{% if not reservations %}
								<p class="text-center small_padding">There's no reservations yet!</p>
							{% else %}
								<div class="list-group small_padding">
								
								<ul class="list-group">
								{% for reservation in reservations %}
									<li class="list-group-item">

	
										<span class="badge light" id="badge_{{ reservation.pk }}">{{ reservation.creative_status }}</span>



										<h4 class="list-group-item-heading">{{ reservation.business_name }} ---- {{ reservation.price.title }} {{ reservation.price.shared_title }} ---- ${{ reservation.price.price }}</h4>

										<p class="list-group-item-text light">
											<i class="glyphicon glyphicon-calendar"></i> {{ reservation.date_range }}
											<i class="glyphicon glyphicon-user"></i> {{ reservation.first_name }} {{ reservation.last_name }}
										</p>

										<div class="small_padding"></div>
										{% if reservation.creative_pending %}
											
											<div id="loader_{{ reservation.id }}" class="loader text-center">
												<img src="{% static 'logo/ripple.gif' %}">
											</div>
											<form class="display_none" id='take_it_form' method="GET">
												<input type='hidden' name='res_pk' value="{{ reservation.pk }}" id="take_it_val">
											</form>
											<div class="take_it_content">
												<button class="btn-blue" id="take_it" type='submit' form="take_it_form">Take it!</button> <span class="light small_font small_padding_left">By clicking on 'Take it!' Button, I agree to the <a class="blue" href="{% url 'legal' %}" target="_blank">terms of service.</a></span>
											</div>
										{% endif %}

										<!-- dropbox link here 
										{% if reservation.creative_status_code == 2 %}
												<button class="btn-blue">Put Deliverables Here</button>
										{% endif %}
										-->

										<div id="dropbox_content">
											<!-- javascript ajax add content after is taken -->
											{% if reservation.creative_status_code == 2 %}
												<a href="{{ reservation.dropbox_link }}" target='_blank'><button class="btn-blue">Put Your Deliverables here</button></a>
											{% endif %}
										</div>

									</li>
								{% endfor %}
								</ul>


								</div>
							{% endif %}
						{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block jquery %}

	$('.loader').hide();
	var $loading = $('#loader_'+String($('#complete_val').val()));
	var $loading_take = $('#loader_'+String($('#take_it_val').val()));

	$(document)
	.ajaxStart(function () {
    $loading.show();
    $loading_take.show();
    $('.loader').show();
  })
  .ajaxStop(function () {
    $loading.fadeOut(200);
    $loading_take.fadeOut(200);
    $('.loader').fadeOut(200);
  });

	$('#take_it_form').on('submit', function(event){
    event.preventDefault();
	  $('.take_it_content').fadeOut(300);
    take_it();
	});

	$('#complete_form').on('submit', function(event){
    event.preventDefault();
    $('#complete').fadeOut(300);
    complete_it();
	});


	$('#dropbox_input_button').click(function(event){
		event.preventDefault();
		$('#dropbox_form').fadeOut(300)
		connect_dropbox();
	});


	function connect_dropbox(){
		$.ajax({
			url: '{% url "ajax_dropbox" %}',
			type: 'GET',
			data: {
				dropbox_email: $('#dropbox_input').val(),
			},

			success: function(data){
				$('#dropbox_msg').html('Successfully connected. Please Accept the share folder invitation.');
			},
			failure: function(data){
				$('#dropbox_msg').html('Error connecting to your Dropbox account.');
			}
		});
	}


	function take_it(){
		$.ajax({
	    url: '{% url "ajax_take" %}',
	    type: 'GET',
	    data: {res_pk: $('#take_it_val').val()},

	    success: function(data) {
	    		id = $('#take_it_val').val()
	    		$('#badge_'+String(id)).html(data['status']);
	    		var dropbox_link = data['dropbox_link'];

	    		var link_str = '<a href="'+ dropbox_link + '" target="_blank"><button class="btn-blue">Put the deliverables here</button></a>'
	    		$('#dropbox_content').html(link_str)
	    },
	    failure: function(data) { 
	        alert('Error');
	    }
		}); 	
	}

	function complete_it(){
		$.ajax({
	    url: '{% url "ajax_complete" %}',
	    type: 'GET',
	    data: {res_pk: $('#complete_val').val()},

	    success: function(data) {
	    		id = $('#complete_val').val();
	    		//console.log(data['status']);
	    		$('#badge_'+String(id)).html(data['status']);
	    },
	    failure: function(data) { 
	        alert('Error');
	    }
		}); 	
	}

{% endblock %}