{% extends "base.html" %}
{% load staticfiles %}


{% block profile %}
	<div class="jumbotron" style="background: url({% static 'img/jumbo3_dark.png' %}); background-size: cover; text-align: center;">
		<h2 class="text-center bold main_title white">Dashboard</h2>
	</div>
	<div class="container">
		{% if not profile.photographer.stripe_user_id %}
			<div class="row medium_padding">
				<div class="col-sm-8 col-sm-offset-2 text-center background_light_blue border_blue_dashed">
					<div class="small_padding"></div>
					<h3 class="bold white large_font">You have not set up ways to receive your payment yet!</h3>
					<div class="small_padding"></div>
					<a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id={{ client_id }}&scope=read_write&stripe_user[email]={{ profile.user.email }}"><button class="btn-blue">Setup Payment</button></a>
					<div class="medium_padding"></div>
				</div>
			</div>
		{% endif %}
		<div class="content_wrapper">
				{% if message %}
		    	<div class="row small_padding">
						<div class="col-sm-4 col-sm-offset-4 notification_box col-xs-6 col-xs-offset-3">
						<p class="text-center small_font">{{ message }}</p>
						</div>
		    	</div>
		    {% endif %}
				{% if auth_message %}
		    	<div class="row small_padding">
						<div class="col-sm-4 col-sm-offset-4 notification_box col-xs-6 col-xs-offset-3">
						<p class="text-center small_font">{{ auth_message }}</p>
						</div>
		    	</div>
		    {% endif %}
			<div class="row small_font">
				<div class="col-sm-3">
					<div class="medium_padding"></div>
					<a href="{{ profile.get_photographer_url }}"><button class="btn-blue">My Profile</button></a><br>
					<div class="xsmall_padding"></div>
					<a href="{% url 'profile_edit' %}"><button class="btn-blue">Edit Profile</button></a><br>
					<div class="xsmall_padding"></div>
				</div>

				<div class="col-sm-3">
					<h3 class="text-center bold">Information</h3>
					<!--<ul class="info_list">
						<li>username: {{ profile.user.username }}</li>
						<li>email: {{ profile.user.email }}</li>
					</ul>-->
					<div class="list-group small_padding">
					  <p class="list-group-item" href="#"><i class="fa fa-user fa-fw"></i>&nbsp; {{ profile.user.username }}</p>
					  <p class="list-group-item" href="#"><i class="fa fa-envelope fa-fw"></i>&nbsp; {{ profile.user.email }}</p>
					  <p class="list-group-item" href="#"><i class="fa fa-shopping-bag fa-fw"></i>&nbsp; {{ profile.reservation_set.count }} transactions</p>
					</div>
				</div>

				<div class="col-sm-6">
				<h3 class="text-center bold">Reservations</h3>
					<div class="row small_padding_bot">
						<div class="col-xs-10 col-xs-offset-1">

						{% if not reservations %}
							<p class="text-center small_padding">There's no reservations yet!</p>
						{% else %}
							<div class="list-group small_padding">
							
							{% for reservation in reservations %}

								<p class="list-group-item"><i class="fa fa-cog fa-fw"></i>&nbsp;&nbsp;&nbsp; <span class="small_padding_right">${{ reservation.price.price }}</span> <span class="small_padding_right">{{ reservation.price.get_title }}</span> <span class="small_padding_right">{{ reservation.timestamp | date:"Y-m-d" }}</span></p>			

							{% endfor %}
							</div>
						{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}