{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<div class="jumbotron" style="background: url({% static 'img/jumbo3_dark.png' %}); background-size: cover; text-align: center;">
		<h2 class="text-center bold main_title white">How do we select our photographers</h2>

	</div>

	<div class="container">
		<div class="medium_padding medium_padding_bot row">
			<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<ul class="pricing_list large_font">
					<li>All of our photographers have experience shooting in professional settings. This is shown on their profiles</li>
					<li>All of our photographers have taken 2 or more photograaphy courses in their schools</li>
					<li>All of our photographers go to school in Rhode Island</li>
				</ul>

				<div class="row medium_padding">
					<p class="text-center">More questions? Check out <a href="{% url 'faqs' %}" class="blue">FAQ</a> section.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}