body {
	/*font-family: "Georgia";*/
	font-family: "Avenir Next";
	font-size: 1.7em;
}

button {
	outline: none;
}

ul {
	list-style: none;
	padding-left: 0;
}

a {
	color: #000;
}

p {
	font-size: 0.9em;
}

ul {
	margin: 0;
}

/* spacing for */
#main_logo {
	margin-top: 15px;
	margin-bottom: 20px;
}

#main_menu {
	font-size: 2em;
	padding-top: 1em;
}

/* navbar */

.navbar-brand
{
	padding-left: 30px;
}

.custom_border {
	width: 100%;
	height: 3px;
}


/* jumbotron */
.jumbotron {
	text-align: center;
}

#jumbotron {
	border-radius: 0;
}

/* make it up a little bit */
.carousel_button {
	margin-bottom: 4%;
}

/* btn-primary for carousel button */

.btn-solid {
	border-radius: 0;
	background-color: #0098ff;
	padding: 10px 25px;
	font-size: 1.1em;
	border: 0;
}

.btn-none {
	border: none;
	background: none;
}

.btn-text {
	border-bottom: 1px dashed #ccc;
	color: #999;
	font-size: 0.9em;
}

.search-text {
	height: 24px;
	font-size: 0.9em;
	border:none;
	border-bottom: 1px dashed #ccc;
	border-radius: 0;
	box-shadow: none;
	padding-left: 0;
	padding-right: 0;
}

.search-text:focus {
	border: none;
	border-bottom: 1px dashed #ccc;
	box-shadow: none;
}

.btn-large {
	border-radius: 0;
	background-color: rgba(0,0,0,0);
	border: 0.2em solid #000;
	font-size: 2em;
	padding-left: 15px;
	padding-right: 15px;
	color: #000;
	font-weight: Bold;
}

.btn-medium {
	border-radius: 0;
	background-color: rgba(0,0,0,0);
	border: 0.15em solid #000;
	font-size: 1.5em;
	padding-left: 10px;
	padding-right: 10px;
	color: #000;
	font-weight: Bold;
}

.btn-small {
	border-radius: 0;
	background-color: rgba(0,0,0,0);
	border: 0.15em solid #000;
	font-size: 1em;
	padding-left: 8px;
	padding-right: 8px;
	color: #000;
	font-weight: Bold;
}

.btn-reverse {
	color: #fff;
	border-color: #fff;
}


.btn-medium:hover {
	background-color: rgba(0,0,0,1);
	color: #ffe83e;
}

.btn-large:hover {
	background-color: rgba(0,0,0,1);
	color: #ffe83e;
}

.btn-small:hover {
	background-color: rgba(0,0,0,1);
	color: #ffe83e;
}

.btn-reverse:hover {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}


/* content */
#content_tagline h2 {
	font-size: 2.5em;
}

.strong_text {
	font-size: 2em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}


/* content advantages */

.centent_advantages_item_glyph {
	font-size: 6em;
	padding-bottom: 5%;
}

.process_title {
	color: #bf682d;
	font-size: 1.8em;
}

.process_text {
	color: #888;
}

/* the padding of the items */
.content_advantages_item {
	padding: 0 5% 6% 5%;
}
@media (min-width: 768px) {
  .content_advantages_item {
    padding: 0 5% 5% 5%;
  }
}
@media (min-width: 992px) {
  .content_advantages_item {
    padding: 0 5% 2% 5%;
  }
  .content_advantages_item h4 {
  	margin-bottom: 10px;
  }
}



/* content photographer */

#content_photographer h3 {
	font-weight: bold;
}

.content_photographer_content_item {
	margin-bottom: 3em;
}
@media (min-width: 768px) {
  .content_photographer_content_item {
    margin-bottom: 0.5em;
  }
}
@media (min-width: 992px) {
  .content_photographer_content_item {
    margin-bottom: 0.5em;
  }
}

.photographer_packages_list {
	text-align: left;
}
.photographer_packages_list li{
	position: relative;
	left: 50px;
	font-size: 0.8em;
}

.photographer_detail_text {
	font-size: 0.8em;
}

#photographer_intro {
	color: #fff;
}

.photographer_list_card {
	margin: 0 6% 50px 6%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.photographer_list_card:hover {
	box-shadow: none;
}

#index_list_card {
	/*box-shadow: none;*/
	font-size: 0.8em;
}

.photographer_list_banner {
	position: absolute;
	top: -2.5%;
	left: 7%;
	width: 60px;
}

.photographer_list_filter button {
	padding: 3px 0;
	margin: 0 8px;
}

.photographer_list_filter {
	display: flex;
}

/* pricing */
.price_list_card {
	border-radius: 30px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
	font-size: 1.1em;
}

.price_list_card_student {
	margin: 0 10%;
	border: 3px dashed #ffe83e;
}

.price_list_card_pro {
	margin: 0 4%;
	border: 3px dashed #0098ff;
}

.price_list_card:hover {
	box-shadow: none;
}

.price_jumbo {
	border-radius: 30px;
}

.pricing_list li {
	padding: 5px 0;
	padding-left: 2.3em;
	border-bottom: 1px dashed #eee;
}

.pricing_list li:last-child {
	border: 0;
}

.pricing_list li:before {
	content: "\f005"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -2.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  margin-right: 1em;
}

.pricing_feature_text {
}

/* footer */

#footer_menu ul {
	font-weight: bold;
	line-height: 23px;
}

#footer_social ul {
	padding-top: 0.5em;
	font-size: 2em;
}

#footer_about p {
	font-size: 0.8em;
}

#footer_copyright {
	padding-top: 2em;
}


/* scrolltotop */
.scrollToTop{ 
	display:fixed;
	text-align:center; 
	font-weight: bold;
	color: #000;
	position:fixed;
	right:20px;
	bottom:20px;
	z-index: 1000;
}

.scrollToTop:hover{
	text-decoration:none;
}

/* helper */
.feature_title {
	font-size: 2.7em;
	font-weight: 400;
}

.main_title {
	font-size: 3.5em;
	font-weight: bold;
}

.bold {
	font-weight: bold;
}

.light {
	font-weight: 400;
}

.content_wrapper {
	margin-top: 3.5em;
	margin-bottom: 3.5em;
}

.content_title_padding {
	padding-top: 3em;
}

.googlemap {
	border: 8px solid #000;
	padding: 0;
}

.form_button {
	font-size: 1.2em;
}

.comment_style li {
	padding: 10px 0 10px 0;
}

.comment_text {
	font-size: 0.8em;
	padding-top: 15px;
	border-top: 1px solid #ddd;
}

.comment_rating {
	padding-top: 2em;
}


.button_list li {
	padding: 5px 0;
}


.center_menu li {
	padding: 0 10px 5px 10px;
	font-weight: bold;
}

.alternate_list li{
    background: #fff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #f6f6f6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #f6f6f6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #f6f6f6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #f6f6f6); /* Standard syntax */
}

.light_title {
	font-family: 'Avenir';
	font-weight: 200;
	font-size: 2.5em;
}



/* photographer list */
.photographer_list_item {
	height: 200px;
}

#photographer_list {
	font-size: 0.8em;
}

#photographer_list h4 {
	font-size: 1.3em;
}

.large_padding {
	padding-top: 80px;
}

.xlarge_padding {
	padding-top: 120px;
}

.medium_padding {
	padding-top: 40px;
}

.xsmall_padding {
	padding-top: 5px;
}

.small_padding {
	padding-top: 20px;
}

.small_padding_right {
	padding-right: 20px;
}

.medium_padding_right {
	padding-right: 40px;
}

.small_padding_left {
	padding-left: 20px;
}

.large_margin {
	margin-top: 80px;
}

.medium_margin {
	margin-top: 40px;
}

.small_margin {
	margin-top: 20px;
}

.list_space_small li {
	padding: 4px 0;
}

.list_space_xsmall li {
	padding: 2px 0;
}

.small_padding_bot {
	padding-bottom: 20px;
}

.medium_padding_bot {
	padding-bottom: 40px;
}

.large_padding_bot {
	padding-bottom: 80px;
}

.small_font {
	font-size: 0.8em;
}

.big_font {
	font-size: 1.7em;
}

.twice_big_font {
	font-size: 2.5em;
}

.white {
	color: #fff;
}

.yellow {
	color: #ffe83e;
}

.dark_yellow {
	color: #ebb027;
}

.blue {
	color: #0098ff;
}

.pink {
	color: #ff78a4;
}

.pink_hover:hover {
	color: #ff78a4;
	text-decoration: none;
}

.yellow_hover:hover {
	color: #ffe83e;
	text-decoration: none;
}

.tag_list {
	background-color: #efd939;
	padding: 2px;
	border-radius: 5px;
}

/* collage */

* {
  box-sizing: border-box;
}

/* force scrollbar */
html { overflow-y: scroll; }

/*body {
  font-family: sans-serif;
}*/

/* ---- isotope ---- */

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
	padding: 0.8%;
  width: 33%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

/* customizeing bootstrap */
.navbar-nav li a {
    line-height: 65px;
    height: 65px;
    padding-top: 0;
    font-size: 0.85em;
}

.navbar {
	margin-bottom: 0;
}

.btn-default : hover {
	color: #fff;
}

.navbar-default {
	background-color: #fff;
}

.navbar {
	min-height: 65px;
}

/* adjust navbar collapse line height */
.navbar-toggle {
	margin-top: 1em;
}

