body {
	/*font-family: "Georgia";*/
	font-family: "Avenir Next";
	font-size: 1.7em;
}

ul {
	list-style: none;
	padding-left: 0;
}

a {
	color: #000;
}

a:hover {
	color: #ffe83e;
	text-decoration: none;
}

h4 {
	font-weight: bold;
	font-size: 1.5em;
}

p {
	font-size: 0.9em;
}

ul {
	margin: 0;
}

/* spacing for */
#main_logo {
	margin-top: 15px;
	margin-bottom: 20px;
}

#main_menu {
	font-size: 2em;
	padding-top: 1em;
}

/* navbar */

.navbar-brand
{
	padding-left: 30px;
}



/* jumbotron */
.jumbotron {
	text-align: center;
}

#jumbotron {
	border-radius: 0;
}

/* make it up a little bit */
.carousel_button {
	margin-bottom: 4%;
}

/* btn-primary for carousel button */
.btn-large {
	border-radius: 0;
	background-color: rgba(0,0,0,0);
	border: 0.2em solid #000;
	font-size: 2em;
	padding-left: 15px;
	padding-right: 15px;
	color: #000;
	font-weight: Bold;
}

.btn-medium {
	border-radius: 0;
	background-color: rgba(0,0,0,0);
	border: 0.15em solid #000;
	font-size: 1.5em;
	padding-left: 10px;
	padding-right: 10px;
	color: #000;
	font-weight: Bold;
}

.btn-small {
	border-radius: 0;
	background-color: rgba(0,0,0,0);
	border: 0.15em solid #000;
	font-size: 1em;
	padding-left: 8px;
	padding-right: 8px;
	color: #000;
	font-weight: Bold;
}

.btn-large:hover {
	background-color: rgba(0,0,0,1);
	color: #fff;
}

.btn-medium:hover {
	background-color: rgba(0,0,0,1);
	color: #ffe83e;
}

.btn-small:hover {
	background-color: rgba(0,0,0,1);
	color: #ffe83e;
}


/* content */
#content_tagline h2 {
	font-size: 2.5em;
}

.strong_text {
	font-size: 2em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}


/* content advantages */

.centent_advantages_item_glyph {
	font-size: 6em;
	padding-bottom: 5%;
}

.process_title {
	color: #bf682d;
	font-size: 1.8em;
}

.process_text {
	color: #888;
}

/* the padding of the items */
.content_advantages_item {
	padding: 0 5% 6% 5%;
}
@media (min-width: 768px) {
  .content_advantages_item {
    padding: 0 5% 5% 5%;
  }
}
@media (min-width: 992px) {
  .content_advantages_item {
    padding: 0 5% 2% 5%;
  }
  .content_advantages_item h4 {
  	margin-bottom: 10px;
  }
}



/* content photographer */

#content_photographer h3 {
	font-weight: bold;
}

.content_photographer_content_item {
	margin-bottom: 3em;
}
@media (min-width: 768px) {
  .content_photographer_content_item {
    margin-bottom: 0.5em;
  }
}
@media (min-width: 992px) {
  .content_photographer_content_item {
    margin-bottom: 0.5em;
  }
}

.photographer_packages_list {
	text-align: left;
}
.photographer_packages_list li{
	position: relative;
	left: 50px;
	font-size: 0.8em;
}

/* footer */

#footer_menu ul {
	font-weight: bold;
	line-height: 23px;
}

#footer_social ul {
	padding-top: 0.5em;
	font-size: 2em;
}

#footer_about p {
	font-size: 0.8em;
}

#footer_copyright {
	padding-top: 2em;
}


/* scrolltotop */
.scrollToTop{ 
	display:fixed;
	text-align:center; 
	font-weight: bold;
	color: #000;
	position:fixed;
	right:20px;
	bottom:20px;
	z-index: 1000;
}

.scrollToTop:hover{
	text-decoration:none;
}

/* helper */
.feature_title {
	font-size: 2.7em;
	font-weight: 400;
}

.main_title {
	font-size: 3.5em;
	font-weight: bold;
}

.bold {
	font-weight: bold;
}

.content_wrapper {
	margin-top: 3.5em;
	margin-bottom: 3.5em;
}

.content_title_padding {
	padding-top: 3em;
}

.googlemap {
	border: 8px solid #000;
	padding: 0;
}

.form_button {
	font-size: 1.2em;
}

.comment_style li {
	padding: 10px 0 10px 0;
}

.comment_text {
	font-size: 0.8em;
	padding-top: 15px;
	border-top: 1px solid #ddd;
}

.comment_rating {
	padding-top: 2em;
}


.button_list li {
	padding: 5px 0;
}


.center_menu li {
	padding: 0 10px 5px 10px;
	font-weight: bold;
}

.alternate_list li{
    background: #fff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #f6f6f6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #f6f6f6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #f6f6f6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #f6f6f6); /* Standard syntax */
}

.light_title {
	font-family: 'Avenir';
	font-weight: 200;
	font-size: 2.5em;
}

.yellow_link {
	color: #ffe83e;
}

/* photographer list */
.photographer_list_item {
	height: 200px;
}

#photographer_list {
	font-size: 0.8em;
}

.large_padding {
	padding-top: 80px;
}

.medium_padding {
	padding-top: 40px;
}

.small_padding {
	padding-top: 20px;
}

.list_space_small li {
	padding: 4px 0;
}


/* collage */

* {
  box-sizing: border-box;
}

/* force scrollbar */
html { overflow-y: scroll; }

/*body {
  font-family: sans-serif;
}*/

/* ---- isotope ---- */

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
	padding: 0.8%;
  width: 33%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

/* customizeing bootstrap */
.navbar-nav li a {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
}

.navbar {
	margin-bottom: 0;
}

.btn-default : hover {
	color: #fff;
}

/* adjust navbar collapse line height */
.navbar-toggle {
	margin-top: 1.8em;
}

