{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block photographer_detail %}
  <div class="content_wrapper" id="photographer_intro">
    <div class="row">
      <h4 class="feature_title text-center">{{object.first_name}} {{object.last_name}}</h4>
    </div>
    <div class="row content_title_padding">
    	<div class="col-md-3 col-md-offset-2 col-xs-12">
    		<img src="{{ object.profile.url }}" class='img-responsive'>
    	</div>
    	<div class="col-md-5 col-md-offset-1 col-xs-12">
    		<ul class="list-unstyled">
          <strong><li>Basic Info:</li></strong>
          <br>
          <strong><li>Rating: {{ object.total_rating }}</li></strong>
          <li>{{ object.description }}</li>
    		</ul>
    	</div>
    </div>
  </div>

  <!-- gallery -->
  <div class="row content_wrapper" id="photographer_gallery">
		<div class="grid">
		  <div class="grid-sizer"></div>
		 	 	{% for img in object.photographerimage_set.all %}
				  <div class="grid-item">
				    <img src= {{ img.image.url }} />
				  </div>
		  	{% endfor %}
		</div>
  </div>


  <!-- rating & comment -->
  <hr>

  <div class="row">
    <div class="col-sm-8">
    <h3>{{ object.rating_set.count }} Reviews</h3>
    <div class="content_wrapper">
      <ul class="comment_style">
      {% for rating in object.rating_set.all %}
        <li>
          <div class="row">
          <div class="col-sm-3 comment_rating">Rating: {{ rating.rating }}</div>
          <div class="col-sm-8 comment_text">{{ rating.comment }}<br>
          <div class="pull-right comment_date">{{ rating.datetime | date:'M - Y' }}</div></div>
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
    </div>

    <!-- commit form -->
    <div class="col-sm-4">
    <br>
    <form method="POST" action="." enctype="multipart/form-data"> {% csrf_token %}
      {{ rating_form | crispy }}
      <br>
      <div class="text-center">
        <button type = "submit" class = "btn btn-primary form_button">Submit</button>
      </div>
    </form>
    </div>
  </div>
  <br>

{% endblock %}