{% extends "base.html" %}
{% load staticfiles %}
{% block stylesheet %}
{% endblock %}
{% block photographer_list %}
<div class="background_grey">
  <div id="photographer_list">

  {% if not show_form %}
    
  
    <div class="jumbotron" style="background: url({% static 'img/jumbo3_dark.png' %}); background-size: cover; text-align: center;">
      <h1 class="text-center bold main_title white">Our Creatives</h1>
    </div>
  {% endif %}

    <div class="container">
      {% if show_form %}
      <div class="text-center background_light_blue border_blue_dashed">
        <div class="small_padding"></div>
          <h1 class="white bold">Pick Your Creative</h1>
          <div class="row">
          <h3 class="light white large_font col-xs-10 col-xs-offset-1">If your top choice is not available, we will contact you to determine your next preference</h3>
          </div>
          <div class="small_padding">

          <div class="flex_box_center">
            <select name="fav_photographer" class="fav_photographer" multiple="multiple" form="fav_photographer_form">
                {% for photographer in object_list %}
                  <option value="{{ photographer.pk }}">{{ photographer.get_full_name }}</option>
                {% endfor %}
            </select>
            <div class="small_padding_right"></div>
            <form id="fav_photographer_form" action="{% url 'reserve' %}" method="GET">
              <input type="hidden" name="fav_package" value='{{ price_package }}'>
              <button type='submit' class="btn-blue">Next</button>
            </form>
          </div>

          </div>
        <div class="medium_padding"></div>
      </div>
      {% endif %}

    <!--<div class="medium_padding">
      <p class="text-center large_font"><i class='fa fa-star yellow'></i> &nbsp<a href="{% url 'select_photographer' %}" class="">How do we select our photographer ></a></p>
    </div>

      <div class="photographer_list_filter small_padding">
        <form method="GET" action="." class="form-inline small_padding_left">
          <div class="form-group">
            <i class="fa fa-search small_padding_right"></i> <input type="text" class="form-control search-text background_grey" name="q" placeholder="search">
          </div>
        </form>
      </div>
    -->

    <div class="medium_padding"></div>

    <div class="row">
    {% for photographer in object_list %}
    
      <div class="col-sm-4 text-center small_padding">
        <div class="thumbnail photographer_list_card">
          <a href="{{ photographer.get_absolute_url }}">
          {% if photographer.profile %}
            <div class="medium_padding"></div>
            <img src="{{ photographer.profile.url }}" width="90px" class="img-circle">
          {% endif %}</a>
          <a href="{{ photographer.get_absolute_url }}" class="yellow_hover"><h4 class="small_padding bold">{{ photographer.get_full_name }}</h4></a>

          <ul class="xsmall_padding">
            <li>{{ photographer.school }}</li>
            <li class="small_font">{{ photographer.location }}</li>
          </ul>



          {% if photographer.total_rating %}
            <!-- Solve the same height -->
            <div class="small_padding">

            {% if photographer.total_rating == 5 %}
              <img src="{% static 'img/5star.png' %}" width='110px'>
            {% elif photographer.total_rating == 4 %}
              <img src="{% static 'img/4star.png' %}" width='110px'>
            {% elif photographer.total_rating == 3 %}
              <img src="{% static 'img/3star.png' %}" width='110px'>
            {% elif photographer.total_rating == 2 %}
              <img src="{% static 'img/2star.png' %}" width='110px'>
            {% elif photographer.total_rating == 1 %}
              <img src="{% static 'img/1star.png' %}" width='110px'>
            {% elif photographer.total_rating == 0 %}
              <img src="{% static 'img/0star.png' %}" width='110px'>
            {% endif %} <p class="xsmall_padding">{{ photographer.rating_set.count }} reviews</p>

            </div>
          {% else %}
            <div class="small_offset">
            </div>
            <p class="xsmall_padding_bot">No Reviews</p>
          {% endif %}
          
          <!--
            <ul class="list-inline small_padding medium_padding_bot">
            {% for specialty in photographer.specialty_set.all reversed %}
              <li class="tag_list small_font white darker_yellow_bg">{{ specialty.get_specialty_text_display }}</li>
            {% endfor %}
            </ul>
            -->
            <div class="medium_padding_bot"></div>
          </div>
        </div>
        <!--
        <div class="col-sm-4 small_padding">
          <div class="thumbnail photographer_list_card">
            <img src="{% static 'img/4.jpg' %}">
            <div class="photographer_list_card_main">
              <div class="row">
                <div class="col-xs-2"><img src="{% static 'img/ben.png' %}" width="40px"></div>
                <div class="col-xs-10"><h4 class="bold">Benjamin Bao</h4><p>Brown University</p></div>
                
              </div>
            </div>
            <div class="photographer_list_card_secondary">
              
            </div>

          </div>
        </div>
        -->
    {% endfor %}
    </div>
</div>

</div>
{% endblock %}


{% block script %}
  <script type="text/javascript" src="http://davidstutz.github.io/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
{% endblock %}

{% block jquery %}
  $('.fav_photographer').multiselect({
    enableClickableOptGroups: true,
    onChange: function(option, checked) {
      // Get selected options.
      var selectedOptions = $('.fav_photographer option:selected');

      if (selectedOptions.length >= 1) {
          // Disable all other checkboxes.
          var nonSelectedOptions = $('.fav_photographer option').filter(function() {
              return !$(this).is(':selected');
          });

          var dropdown = $('.fav_photographer').siblings('.multiselect-container');
          nonSelectedOptions.each(function() {
              var input = $('input[value="' + $(this).val() + '"]');
              input.prop('disabled', true);
              input.parent('li').addClass('disabled');
          });
      }
      else {
          // Enable all checkboxes.
          var dropdown = $('.fav_photographer').siblings('.multiselect-container');
          $('.fav_photographer option').each(function() {
              var input = $('input[value="' + $(this).val() + '"]');
              input.prop('disabled', false);
              input.parent('li').addClass('disabled');
          });
      }
  }
});
{% endblock %}