{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block photographer_detail %}
  {% if not object.stripe_user_id %}
    {% if not user.profile.photographer == object %}
      <div class="medium_padding medium_padding_bot text-center">
       <h4 class="text-center feature_title bold">This account is inactive</h4>
      </div>
    {% else %}
      <div class="medium_padding medium_padding_bot text-center">
       <h4 class="text-center feature_title bold">Setup Payment</h4>
       <p class="textc-center">Click here to set up your way to receive payment in order to make your profile public!</p>
       <div class="small_padding"></div>
       <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id={{ client_id }}&scope=read_write&stripe_user[email]={{ user.email }}"><button class="btn-blue">Setup Payment</button></a>
      </div>
    {% endif %}
  {% else %}
  <div id="photographer_intro" class="medium_padding medium_padding_bot">
    <div class="small_padding row">
      {% if object.profile %}
        <img src="{{ object.profile.url }}" width="100px">
      {% endif %}
    </div>
    <div class="row small_padding">
      <h4 class="feature_title text-center bold">{{ object.first_name }} {{object.last_name}}</h4>
      <ul class="small_padding">
        <li>{{ object.school }}</li>
        <li class="small_font">{{ object.location }}</li>
      </ul>
    </div>

    <div class="medium_padding row photographer_detail_text">
        <ul class="list-unstyled">
          <strong><li>
            {% if has_rating %}
              <img src="{% static rating_static_url %}" width='150px' alt="Rating Not Available"> &nbsp({{ object.rating_set.count }})
            {% else %}
              Be the first to Rate me!
            {% endif %}
          </li></strong>
          <li class="medium_padding"><a href="{% url 'reserve_detail' object.slug %}" id="photographer_reserve"><button class="btn btn-medium">Reserve</button></a></li>
          <li><div class="fb-like small_padding" data-href="{{ page_url }}" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div></li>
        </ul>
    </div>
  </div>
  <hr>

<div class="container">
  <!-- menu -->
  <div class="row">
    <ul class="list-inline text-center center_menu">
      {# <li><a href="#photographer_packages" id="photographer_packages_button" class="yellow_hover">Packages</a></li> #}
      <li><a href="#photographer_packages" id="photographer_packages_button" class="yellow_hover">Packages</a></li>
      {% if object.photography %}
        <li><a href="#photographer_gallery" id="photographer_gallery_button" class="yellow_hover">Photos</a></li>
      {% endif %}
      {% if object.videography %}
        <li><a href="#photographer_video" id="photographer_video_button">Videos</a></li>
      {% endif %}
      <li><a href="#photographer_reviews" id="photographer_reviews_button" class="yellow_hover">Reviews</a></li>
    </ul>
  </div>

  <!-- package -->
  <!--
  <div class="row medium_padding" id='photographer_packages'>
    <div class="col-sm-6">
      <div class="thumbnail xsmall_padding_bot">
        <div class="thumbnail small_margin_all">
            <div class="caption">
              <h2 class="feature_title bold text-center yellow">$125</h2>
                <ul class="package_list small_font">
                  <li>Willing to travel up to 20 miles</li>
                </ul>  
            </div>
        </div>
      <h3 class="text-center">Real Estate Photography - Standard</h3>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="thumbnail xsmall_padding_bot">
        <div class="thumbnail small_margin_all">
            <div class="caption">
              <h2 class="feature_title bold text-center yellow">$75</h2>
                <ul class="package_list small_font">
                <li>Willing to travel up to 15 miles</li>
                </ul>  
            </div>
        </div>
      <h3 class="text-center">Headshot - Basic</h3>
      </div>
    </div>
  </div>
  -->




  <!-- photo -->
  {% if object.photography %}
  <div class="row medium_padding" id="photographer_gallery">
		<div class="grid">
		  <div class="grid-sizer"></div>
		 	 	{% for img in object.photographerimage_set.all %}
				  <div class="grid-item">
				    <img src= {{ img.image.url }} />
				  </div>
		  	{% endfor %}
		</div>
  </div>
  {% endif %}

  {% if object.photographer and object.videography %}
    <hr>
  {% endif %}
  <!-- videography -->
  {% if object.videography %}
    <div id="photographer_video" class="small_padding small_padding_bot">

    {% for vid in object.photographervideo_set.all %}
      <div class="row medium_padding">
        <h2 class="text-center bold big_font">{{ vid.title }}</h2>
        <div class="small_padding"></div>
        <div class="embed-container" style="margin: 0 auto;text-align:center;">
          <iframe src="{{ vid.video }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div> 
      </div>     
    {% endfor %}


    </div>
  {% endif %}


  <!-- rating & comment -->
  <hr>

  <div class="row" id='photographer_reviews'>
    <div class="col-sm-8 col-xs-10 col-sm-offset-0 col-xs-offset-1">
    <h3>{{ object.rating_set.count }} Reviews</h3>
    <div class="content_wrapper">
      <ul class="comment_style">
      {% for rating_url, rating in ratings %}
        <li>
          <div class="row light">
          <div class="col-sm-3"><img class="comment_rating" src="{% static rating_url %}" width='100px'></div>
          <div class="col-sm-8 comment_text">{{ rating.comment }}<br><br>
          <div class="pull-right comment_date">{{ rating.datetime | date:'M - Y' }}</div></div>
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
    </div>

    <!-- commit form -->
    <div class="col-sm-4 col-xs-10 col-sm-offset-0 col-xs-offset-1">
    <br>
    <!--{% if rating_form.errors %}
    <div class="text-danger">Please correct the error{{ rating_form.errors|pluralize }} below.</div>
    {% endif %}-->
    {% if permission %}
    <form method="POST" action="." role='form' enctype="multipart/form-data"> {% csrf_token %}
      {{ rating_form | crispy }}
      <br>
      <div class="text-center">
      
        <button type = "submit" class = "btn btn-medium form_button">Submit</button>   
      {% else %} 
        <h3 class="bold">Comment Section</h3>
        <p class="small_font">You need to use the service in order to comment. Thanks!</p>
      {% endif %}

      </div>
    </form>
    </div>
  </div>
  <br>
</div>
{% endif %}
{% endblock %}