{% extends "base.html" %}
{% load staticfiles %}
{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
{% endblock %}
{% block photographer_list %}
<div class="background_grey">
  <div id="photographer_list" class="medium_padding_bot">
    <div class="jumbotron medium_padding medium_padding_bot" style="background: url({% static 'img/jumbo3_dark.png' %}); background-size: cover; text-align: center;">
      <h2 class="text-center main_title bold white">Photographers</h2>
      <p class="text-center white">
        Bryte handpicks every single photographer
      </p>
    </div>

    <div class="container">

    <div class="medium_padding">
      <p class="text-center large_font"><i class='fa fa-star yellow'></i> &nbsp<a href="{% url 'select_photographer' %}" class="">How do we select our photographer ></a></p>
    </div>
      <div class="photographer_list_filter small_padding">
        <form method="GET" action="." class="form-inline small_padding_left">
          <div class="form-group">
            <i class="fa fa-search small_padding_right"></i> <input type="text" class="form-control search-text background_grey" name="q" placeholder="search">
          </div>
        </form>
      </div>



    <div class="row">
    {% for photographer in object_list %}
    
      <div class="col-sm-4 text-center small_padding">
        <div class="thumbnail photographer_list_card">
          <a href="{{ photographer.get_absolute_url }}">
          {% if photographer.profile %}
            <img src="{{ photographer.profile.url }}" width="90px" class="medium_padding">
          {% endif %}</a>
          <a href="{{ photographer.get_absolute_url }}" class="yellow_hover"><h4 class="small_padding">{{ photographer.get_full_name }}</h4></a>

          <ul class="xsmall_padding">
            <li>{{ photographer.school }}</li>
            <li class="small_font">{{ photographer.location }}</li>
          </ul>

          {% if photographer.total_rating %}
            <div class="small_padding">

            {% if photographer.total_rating == 5 %}
              <img src="{% static 'img/5star.png' %}" width='110px'>
            {% elif photographer.total_rating == 4 %}
              <img src="{% static 'img/4star.png' %}" width='110px'>
            {% elif photographer.total_rating == 3 %}
              <img src="{% static 'img/3star.png' %}" width='110px'>
            {% elif photographer.total_rating == 2 %}
              <img src="{% static 'img/2star.png' %}" width='110px'>
            {% elif photographer.total_rating == 1 %}
              <img src="{% static 'img/1star.png' %}" width='110px'>
            {% elif photographer.total_rating == 0 %}
              <img src="{% static 'img/0star.png' %}" width='110px'>
            {% endif %} <p class="xsmall_padding">{{ photographer.rating_set.count }} reviews</p>

            </div>
          {% else %}
            <div class="small_offset">
            </div>
            <p class="xsmall_padding xsmall_padding_bot">Be the first to review!</p>
          {% endif %}
          

            <ul class="list-inline small_padding medium_padding_bot">
            {% for specialty in photographer.specialty_set.all reversed %}
              <li class="tag_list small_font white darker_yellow_bg">{{ specialty.get_specialty_text_display }}</li>
            {% endfor %}
            </ul>
          </div>
        </div>
        <!--
        <div class="col-sm-4 small_padding">
          <div class="thumbnail photographer_list_card">
            <img src="{% static 'img/4.jpg' %}">
            <div class="photographer_list_card_main">
              <div class="row">
                <div class="col-xs-2"><img src="{% static 'img/ben.png' %}" width="40px"></div>
                <div class="col-xs-10"><h4 class="bold">Benjamin Bao</h4><p>Brown University</p></div>
                
              </div>
            </div>
            <div class="photographer_list_card_secondary">
              
            </div>

          </div>
        </div>
        -->
    {% endfor %}
    </div>
 
    </div>

</div>

</div>
{% endblock %}


{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
{% endblock %}